@import "bulma/sass/utilities/initial-variables.sass";

// override
$grey: rgba(80, 81, 79, 1);
$red: rgba(242, 95, 92, 1);
$yellow: rgba(255, 224, 102, 1);
$blue: rgba(36, 123, 160, 1);
$lightblue: rgba(112, 193, 179, 1);

$family-serif: "Merriweather", "Georgia", serif;
// $family-serif: "Merriweather", "Georgia", serif;
$primary: $color40;
$secondary: $color70;
$time: 500ms;

// derived
$family-primary: $family-serif;

@import "bulma/bulma.sass";
