$color0: #000004;
$color1: #010106;
$color2: #02020b;
$color3: #03030f;
$color4: #050416;
$color5: #06051a;
$color6: #090720;
$color7: #0b0924;
$color8: #0e0b2b;
$color9: #120d31;
$color10: #140e36;
$color11: #180f3d;
$color12: #1a1042;
$color13: #1e1149;
$color14: #21114e;
$color15: #251255;
$color16: #29115a;
$color17: #2d1161;
$color18: #331067;
$color19: #36106b;
$color20: #3b0f70;
$color21: #3f0f72;
$color22: #440f76;
$color23: #471078;
$color24: #4c117a;
$color25: #51127c;
$color26: #54137d;
$color27: #59157e;
$color28: #5c167f;
$color29: #601880;
$color30: #641a80;
$color31: #681c81;
$color32: #6b1d81;
$color33: #701f81;
$color34: #752181;
$color35: #782281;
$color36: #7c2382;
$color37: #802582;
$color38: #842681;
$color39: #882781;
$color40: #8c2981;
$color41: #902a81;
$color42: #942c80;
$color43: #992d80;
$color44: #9c2e7f;
$color45: #a1307e;
$color46: #a5317e;
$color47: #aa337d;
$color48: #ad347c;
$color49: #b2357b;
$color50: #b73779;
$color51: #ba3878;
$color52: #bf3a77;
$color53: #c23b75;
$color54: #c73d73;
$color55: #ca3e72;
$color56: #cf4070;
$color57: #d2426f;
$color58: #d6456c;
$color59: #db476a;
$color60: #de4968;
$color61: #e24d66;
$color62: #e44f64;
$color63: #e85362;
$color64: #ea5661;
$color65: #ed5a5f;
$color66: #ef5d5e;
$color67: #f2625d;
$color68: #f4675c;
$color69: #f56b5c;
$color70: #f7705c;
$color71: #f8745c;
$color72: #f9795d;
$color73: #fa7d5e;
$color74: #fb835f;
$color75: #fc8961;
$color76: #fc8c63;
$color77: #fd9266;
$color78: #fd9668;
$color79: #fd9b6b;
$color80: #fe9f6d;
$color81: #fea571;
$color82: #fea973;
$color83: #feae77;
$color84: #feb47b;
$color85: #feb77e;
$color86: #febd82;
$color87: #fec185;
$color88: #fec68a;
$color89: #feca8d;
$color90: #fecf92;
$color91: #fed395;
$color92: #fed89a;
$color93: #fddea0;
$color94: #fde2a3;
$color95: #fde7a9;
$color96: #fdebac;
$color97: #fcf0b2;
$color98: #fcf4b6;
$color99: #fcf9bb;
$color100: #fcfdbf;
