/* Coolors Exported Palette - coolors.co/50514f-f25f5c-ffe066-247ba0-70c1b3 */

// /* HSL */
// $grey: hsla(90%, 1%, 31%, 1);
// $red: hsla(1%, 85%, 65%, 1);
// $yellow: hsla(48%, 100%, 70%, 1);
// $blue: hsla(198%, 63%, 38%, 1);
// $lightblue: hsla(170%, 40%, 60%, 1);

/* RGB */
$grey: rgba(80, 81, 79, 1);
$red: rgba(242, 95, 92, 1);
$yellow: rgba(255, 224, 102, 1);
$blue: rgba(36, 123, 160, 1);
$lightblue: rgba(112, 193, 179, 1);
