.my-sitemap {
  position: relative;
  transition: opacity 350ms;
  overflow: auto;
  line-height: 1.25em;
}
.my-sitemap:hover {
  opacity: 1;
}
.my-sitemap li {
  margin: 5px 0;
  padding-left: 20px;
}
.my-sitemap li div {
  position: relative;
  cursor: pointer;
  height: 100%;
}
.my-sitemap li[data-url-target]:hover {
  padding-left: 25px;
}
.my-sitemap li.is-active > div {
  font-weight: bold;
  color: rgb(var(--primary));
}
.my-sitemap .list-is-collapsed {
  height: 0;
}
.my-sitemap .list-is-collapsible {
  overflow: hidden;
}
.my-sitemap .children-toggle {
  border: solid rgb(var(--primary));
  border-width: 0 1px 1px 0;
  padding: 2px;
  position: absolute;
  top: 8px;
  left: -15px;
  transform: rotate(-45deg);
  transition: all 350ms ease-in-out;
}
.my-sitemap li.item-expanded > div .children-toggle {
  transform: rotate(45deg);
}
