.my-sitemap {
  position: relative;
  transition: opacity 350ms;
  overflow: auto;
  line-height: 1.25em;
}
.my-sitemap:hover {
  opacity: 1;
}
.my-sitemap li {
  line-height: 1.25rem;
}
.my-sitemap li.is-active > a {
  font-weight: bold;
  color: rgb(var(--primary));
}
.my-sitemap .sitemap-content {
  overflow: auto;
}
