article[role=main] {
  // if an h2 is a first child of content then bulma adds some margin
  &.content h2 {
    margin-top: 0;
  }
}

@media screen and (min-width: 769px) {
  article[role=main] {
    font-size: 1.25em;
  }
}

section.main {
  margin: 2em 0;
}

.reverse-row-order {
  flex-direction: row-reverse;
}

// makes the <svg> text compatible with black/white backgrounds
//svg {
  text {
    fill: findColorInvert($body-background-color);
  }

  path.origin {
    stroke: findColorInvert($body-background-color);
  }
//}
