@import "bulma/sass/utilities/initial-variables.sass";
@import "_variables.scss";
@import "bulma/bulma.sass";

// custom variables
$family-serif: "Merriweather", "Georgia", serif;
$family-primary: $family-serif;
$time: 250ms;

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// override .number that conflicts with the higlighter numbers
.number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  font-size: inherit;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: initial;
}

// wrap on links
a {
  @include word-wrap();
}
