@import "bulma/sass/utilities/initial-variables.sass";

// override
$grey: rgba(80, 81, 79, 1);
$red: rgba(242, 95, 92, 1);
$yellow: rgba(255, 224, 102, 1);
$blue: rgba(36, 123, 160, 1);
$lightblue: rgba(112, 193, 179, 1);

$family-serif: "Merriweather", "Georgia", serif;
// $family-serif: "Merriweather", "Georgia", serif;
$primary: $color40;
$info: $color70;
$time: 250ms;
// $desktop: 1300px + (2 * $gap);
// $widescren: 1500px + (2 * $gap);
$fullhd: 1500px + (2 * $gap);

// derived
$family-primary: $family-serif;

@import "bulma/bulma.sass";

// override .number
.number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  font-size: inherit;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: initial;
}
