figure.is-responsive.is-25p img {
  max-width: 25%;
}

figure.is-responsive.is-50p img {
  max-width: 50%;
}

figure.is-responsive.is-100p img {
  max-width: 100%;
}

figure.is-responsive img {
  max-width: 75%;
}

@media screen and (max-width: 960px) {
    figure.is-responsive img {
        max-width: 100% !important;
    }
}

// override to the default width: 100%
.image img {
  width: auto;
}
