figure.is-reponsive.is-50p img {
  max-width: 50%;
}

figure.is-responsive.is-75p img {
  max-width: 75%;
}

@media screen and (max-width: 960px) {
    figure.is-responsive img {
        max-width: 100% !important;
    }
}
