// styles when it's rendered in the root page
.is-index {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image:
    url("https://trianglify.io/p/w:1440!h:900!x:d40078.f6019d.920075.650d89.023788!v:0.6!c:0.06!s:htr92r");
    //linear-gradient(
    //  to right,
    //  $color25, $color75
    //);

  .sitemap {
    opacity: 1;
    overflow: scroll;
    max-height: calc(100vh - 200px);
  }
}

@media screen and (max-width: $desktop) {
  .is-index {
    height: auto;
    .sitemap {
      max-height: none;
    }
  }
}

