$color0: rgb(233, 46, 251);
$color1: rgb(235, 45, 244);
$color2: rgb(237, 44, 238);
$color3: rgb(239, 43, 231);
$color4: rgb(240, 42, 224);
$color5: rgb(242, 41, 217);
$color6: rgb(243, 40, 211);
$color7: rgb(245, 40, 204);
$color8: rgb(246, 39, 198);
$color9: rgb(247, 38, 191);
$color10: rgb(248, 37, 185);
$color11: rgb(249, 37, 178);
$color12: rgb(250, 36, 172);
$color13: rgb(251, 35, 165);
$color14: rgb(252, 35, 159);
$color15: rgb(252, 34, 153);
$color16: rgb(253, 34, 146);
$color17: rgb(254, 33, 140);
$color18: rgb(254, 33, 134);
$color19: rgb(255, 32, 127);
$color20: rgb(255, 32, 121);
$color21: rgb(248, 29, 126);
$color22: rgb(241, 27, 130);
$color23: rgb(234, 24, 135);
$color24: rgb(227, 21, 140);
$color25: rgb(219, 18, 144);
$color26: rgb(212, 16, 149);
$color27: rgb(204, 13, 153);
$color28: rgb(197, 11, 158);
$color29: rgb(189, 8, 162);
$color30: rgb(181, 6, 167);
$color31: rgb(172, 5, 171);
$color32: rgb(164, 4, 176);
$color33: rgb(155, 4, 180);
$color34: rgb(145, 4, 185);
$color35: rgb(136, 4, 189);
$color36: rgb(125, 5, 194);
$color37: rgb(113, 6, 198);
$color38: rgb(101, 7, 203);
$color39: rgb(86, 9, 207);
$color40: rgb(68, 11, 212);
$color41: rgb(65, 10, 206);
$color42: rgb(62, 9, 199);
$color43: rgb(58, 8, 193);
$color44: rgb(55, 8, 187);
$color45: rgb(52, 7, 181);
$color46: rgb(49, 6, 175);
$color47: rgb(46, 6, 169);
$color48: rgb(43, 5, 163);
$color49: rgb(40, 4, 157);
$color50: rgb(37, 4, 151);
$color51: rgb(33, 3, 145);
$color52: rgb(30, 3, 139);
$color53: rgb(27, 3, 133);
$color54: rgb(24, 2, 128);
$color55: rgb(21, 2, 122);
$color56: rgb(17, 2, 116);
$color57: rgb(14, 1, 111);
$color58: rgb(10, 1, 105);
$color59: rgb(7, 1, 99);
