.sitemap {
  opacity: 0.3;
  transition: opacity $time;
  position: relative;
  overflow: auto;
  color: currentColor;

  &:hover {
    opacity: 1;
  }

  li {
    padding-left: 20px;
    transition: padding $time;

    // the right border (default style)
    div {
      position: relative;
      cursor: pointer;
      height: 100%;
      border-right: 2px solid $link;
    }

    &[data-url-target]:hover {
      padding-left: 25px;
    }

    &.is-active {
      // right border (active style)
      > div {
        font-weight: bold;
        color: $primary;
        border-right: 2px solid $primary;
      }
    }
  }

  .list-is-collapsed {
    height: 0;
  }

  .list-is-collapsible {
    overflow: hidden;
  }

  // arrow styling
  .children-toggle {
    border: solid $primary;
    border-width: 0 1px 1px 0;
    padding: 2px;
    position: absolute;
    top: 8px;
    left: -15px;
    transform: rotate(-45deg);
    transition: all $time ease-in-out;
  }

  li.item-expanded {
    > div .children-toggle {
      transform: rotate(45deg);
    }
  }

  // override primary color set on links
  a {
    color: currentColor;
  }
}

// override settings set by the scroll spy
@media screen and (max-width: $desktop) {
  nav[role=sitemap] {
    position: initial !important;
    top: initial !important;
    height: auto !important;
    width: auto !important;
    overflow: hidden;
    opacity: 1;
  }
}

// remove active link styling on mobile to avoid content jump
@media screen and (max-width: $desktop) {
  .toc-link.is-active-link {
    font-weight: normal !important;
    color: currentColor !important;

    &:before {
      background-color: currentColor !important;
    }
  }
}

