// skeleton
@import './palette';
@import './bulma';
// @import './breadcrumb';
@import './navbar';
@import './article';
@import './sitemap';
@import './header';
@import './footer';
@import './profile';

// libs
@import 'lib/toc';
@import 'lib/mathjax';
@import 'lib/repl';
@import 'lib/icomoon';
@import 'lib/share';
@import 'lib/prism';

body {
  width: 100%;
  height: 100%;
  font-family: $family-serif;
}

.fonts-loaded {
  body {
    font-family: 'Computer Modern Serif', $family-serif;
  }
}

pre[class*=language-] {
  font-size: 0.7em;
  border-radius: $radius;
}

code {
  font-weight: normal;
  padding: .25em;
  background-color: transparent;
  border-radius: $radius;
}
