// colors and bulma
@import './palette';
@import './bulma';

// skeleton
@import './index';
@import './article';
@import './breadcrumb';
@import './sitemap';
@import './header';
@import './footer';
@import './profile';
@import './figure';

// libs
@import 'lib/toc';
@import 'lib/mathjax';
@import 'lib/repl';
@import 'lib/icomoon';
@import 'lib/share';
@import 'lib/prism';

.fonts-loaded {
  body {
    font-family: 'Computer Modern Serif', $family-serif;
    // disabling these properties to get a better font
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: auto;
  }
}

pre[class*=language-] {
  font-size: 0.7em;
  border-radius: $radius;
}

code {
  font-weight: normal;
  padding: .25em;
  background-color: transparent;
  border-radius: $radius;
}
