{{/*

Used in:
- index.html
- tags/<term>.html

*/}}
<div class="article-summary">
  <a href="{{ .RelPermalink }}">
    <h4 class="is-size-4"> {{ .Title }} </h4>
  </a>

  <p class="is-size-6 article-signature__metadata">
    Published on {{ .Page.PublishDate.Format "Mon, Jan 2, 2006" }} -
    Last modified on {{ .Page.Lastmod.Format "Mon, Jan 2, 2006" }} -
    {{ .WordCount }} words -
    <a style="pointer-events: all; text-decoration: underline" target="_blank" href="https://github.com/mauriciopoppe/blog/tree/main/site/content/{{ .File.Path }}">Page Source</a>
  </p>

  <div class="tags" style="position: relative; margin: 5px 0">
    {{ range .Params.tags }}
      <a class="tag" href="/tags/{{ . | urlize }}">
        <span>{{ . }}</span>
      </a>
    {{ end }}
  </div>

  <div class="columns">
    {{ if .Params.image }}
    <figure class="column is-one-third article-header__summary-image">
      {{ $image := .Params.image | absURL }}
      <img src="{{ $image }}" alt="{{ .Title }}" style="max-width: 100%; max-height: 100%"/>
      {{ if .Params.imageAlt }}
      <figcaption><i class="is-size-6">{{ .Params.imageAlt | markdownify }}</i></figcaption>
      {{ end }}
    </figure>
    {{ end }}

    <div class="column is-two-thirds">
      {{ .Summary | markdownify }}
    </div>
  </div>
</div>
