<footer>
  <div class="browser-sunset-wrapper" style="position: relative; height: 100vh">
    <div id="browser-sunset" style="width: 100%; height: 100%"></div>
    <span class="has-text-primary" style="position: absolute; bottom: 5px; right: 5px">
      Plane by
      <a target="_blank" href="https://sketchfab.com/antonmoek">antonmoek</a> -
      <a target="_blank" href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
    </span>
  </div>
</footer>

<!--<script>-->
<!--  (function() {-->
<!--    // force the sunset wrapper to have the same height as the page!-->
<!--    document.querySelector('.browser-sunset-wrapper').style.height = window.innerHeight + 'px'-->
<!--  })()-->
<!--</script>-->

<!-- always included -->
<!--{{ partial "lib/hypothesis.html" . }}-->
{{ partial "scripts/main.html" . }}
{{ partial "scripts/voronoi.html" . }}
{{ partial "scripts/sunset.html" . }}

{{ partial "lib/polyfill.html" . }}
{{ partial "lib/prism.html" . }}

<!-- math is enabled by default -->
{{ if isset .Params "nomath" }}
  {{ $s := true }}
{{ else }}
  {{ partial "lib/mathjax3.html" . }}
{{ end }}

<!-- selectively included -->
{{ if isset .Params "libraries" }}
  {{ range .Params.libraries }}
    {{ if eq . "function-plot" }} {{ partial "lib/function-plot.html" . }} {{ end }}
    {{ if eq . "greuler" }} {{ partial "lib/greuler.html" . }} {{ end }}
  {{ end }}
{{ end }}

