<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

<!-- Site Title, Description, Author, and Favicon -->
{{- with .Title | default .Site.Title }}
<title>{{ . }} | {{ $.Site.Author.name }}</title>
<meta property="og:title" content="{{ . }}" />
<meta name="twitter:title" content="{{ . | truncate 70 }}" />
{{- end }}
{{- with .Params.description | default .Summary }}
<meta name="description" content="{{ . }}">
<meta property="og:description" content="{{ . }}">
<meta name="twitter:description" content="{{ . | truncate 200 }}">
{{- end }}
<meta name="author" content="{{ .Site.Author.name }}"/>
{{- with .Site.Params.favicon }}
<link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}

<!-- Social Media Tags -->
{{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta name="twitter:image" content="{{ . | absURL }}" />
{{- end }}
<meta name="twitter:card" content="summary" />
{{- with .Site.Author.twitter }}
<meta name="twitter:site" content="@{{ . }}" />
<meta name="twitter:creator" content="@{{ . }}" />
{{- end }}
{{- with .Site.Params.fb_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<!--additional meta tags-->
<meta http-equiv="last-modified" content='{{ .Page.Lastmod.Format "Monday, January 2, 2006" }}' />
<meta http-equiv="date" content='{{ .Date.Format "Monday, January 2, 2006" }}' />

{{ .Scratch.Set "permalink" (.Permalink | absURL)  }}
{{ $author :=  or (.Params.author) (.Site.Author.name) }}
{{ $org_name :=  .Site.Title }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "@id": "{{ .Permalink | absLangURL }}",
        "articleSection": "{{ .Section }}",
        "name": "{{ .Title | safeJS }}",
        "headline": "{{ .Title | safeJS }}",
        "alternativeHeadline": "{{ .Params.lead }}",
        "description": {{ .Params.description | default .Summary }},
        "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
        "isFamilyFriendly": "true",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Permalink | absLangURL }}"
        },
        "author" : {
            "@type": "Person",
            "name": "{{ $author }}",
            "url": "{{ .Site.BaseURL }}"
        },
        "creator" : {
            "@type": "Person",
            "name": "{{ $author }}"
        },
        "accountablePerson" : {
            "@type": "Person",
            "name": "{{ $author }}"
        },
        "image": {{ if .Params.image }}[{{ .Params.image | absURL }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
        "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
        "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
        "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
        "copyrightHolder" : "{{ $org_name }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "publisher":{
            "@type":"Organization",
            "name": {{ $org_name }},
            "url": {{ .Site.BaseURL }},
            "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.Params.logo | absURL }}",
                "width":"32",
                "height":"32"
            }
        }
    }
</script>

<!-- Hugo Version number -->
{{ hugo.Generator -}}

<!-- Links and stylesheets -->
<link rel="canonical" href="{{ .Permalink | absLangURL }}" />
<link rel="alternate" href='{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}'>

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,600;1,300;1,600&display=swap" rel="stylesheet">

<!-- My styles -->
{{ $stylesheet := .Site.Data.webpackAssets.main }}
{{ with $stylesheet.css }}
    <link href="{{ relURL . }}" rel="stylesheet">
{{ end }}

<!-- My webpack HMR fix (https://github.com/webpack/webpack-dev-server/issues/2792) -->
{{ $script := .Site.Data.webpackAssets.runtime }}
{{ $type := (printf "%T" $script.js) }}
{{ if eq $type "[]interface {}" }}
{{ range $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
{{ end }}

{{ if eq $type "string" }}
{{ with $script.js }}
<script src="{{ relURL . }}"></script>
{{ end }}
{{ end }}

<link rel="preload" href="{{ .Params.image | default .Site.Params.logo | absURL }}" as="image" crossorigin>
<link rel="preload" href="{{ .Site.Params.logo | absURL }}" as="image">

<!-- inline script to set the right theme from local storage -->
<script>
(function () {
    window.blog = {
        setTheme: function(theme) {
            document.documentElement.dataset.theme = theme
        }
    }
    const theme = localStorage.getItem('theme')
    // getItem returns null if the item is not set
    if (theme == null) return
    window.blog.setTheme(theme)
})()
</script>

<!-- gtag function (will be overridden by the injected script in netlify),
    it's here so that I can have the gtag function) -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
</script>
