{{ if .IsHome }}
  {{ $.Scratch.Set "title" .Site.Title }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
  {{ if .Site.Params.bigimg }}{{ $.Scratch.Set "bigimg" .Site.Params.bigimg }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
{{ end }}
{{ $bigimg := $.Scratch.Get "bigimg" }}

<section class="hero is-primary is-bold is-large has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-2 is-spaced">{{ $.Scratch.Get "title" }}</h1>
      <p class="subtitle">{{ $.Scratch.Get "subtitle" }}</p>

      <!-- nested path to file -->
      {{ partial "breadcrumb.html" . }}

      <!-- dates -->
      <p class="subtitle is-size-6">
        Created at {{ .Date.Format "Mon, Jan 2, 2006" }} <br />
        Last Modified on {{ .Page.Lastmod.Format "Mon, Jan 2, 2006" }} <br>
        <a style="pointer-events: all; text-decoration: underline" target="_blank" href="https://github.com/mauriciopoppe/blog/tree/master/site/content/{{ .File.Path }}">Source code of this page</a>
      </p>

      <!--tags-->
      <div class="tags is-centered">
        {{ range .Params.tags }}
          <span class="tag is-primary">{{ . }}</span>
        {{ end }}
      </div>
    </div>
  </div>
</section>
