{{ if .IsHome }}
  {{ $.Scratch.Set "title" .Site.Title }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
  {{ if .Site.Params.bigimg }}{{ $.Scratch.Set "bigimg" .Site.Params.bigimg }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
{{ end }}
{{ $bigimg := $.Scratch.Get "bigimg" }}
{{ partial "svg/defs.html" . }}
<nav class="navbar is-hidden-desktop">
  <div class="container-fluid">
    <div class="navbar-brand">

      <a class="navbar-item" href="/">
        <div>
          <div class="is-size-4" id="navbar-title">{{ $.Scratch.Get "title" }}</div>
        </div>
      </a>

      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

  </div>
</nav>
