{{/*

Used in:
- index.html
- tags/<term>.html

*/}}
<div>
  <a href="{{ .RelPermalink }}">
    <h2 class="tw-text-5xl"> {{ .Title }} </h2>
  </a>

  {{ partial "tags.html" (dict "tags" .Params.tags) }}

  <div class="tw-flex tw-flex-col md:tw-flex-row md:tw-space-x-4">
    {{ if .Params.image }}
    <figure class="tw-w-full tw-text-right md:tw-basis-1/3">
      {{ $image := .Params.image | absURL }}
      <img src="{{ $image }}" alt="{{ .Title }}" class="tw-aspect-auto" />
      {{ if .Params.imageAlt }}
        <figcaption><i class="tw-text-sm">{{ .Params.imageAlt | markdownify }}</i></figcaption>
      {{ end }}
    </figure>
    {{ end }}

    <div class="tw-w-full tw-flex tw-flex-col md:tw-basis-2/3">
      <div>
        {{ $summary := .Params.summary | default .Summary }}
        {{ $summary | markdownify }}
      </div>
      <div class="tw-h-5 md:tw-grow"></div>
      <div class="tw-text-base tw-flex tw-flex-row tw-gap-2 tw-leading-snug">
        <div>
          {{ $image := .Site.Params.logo | absURL }}
          <img class="tw-rounded-full tw-width" src="{{ $image }}" data-src="{{ $image }}" width="75"
              height="75" alt="Me" />
        </div>
        <div>
          Published on {{ .Page.PublishDate.Format "Mon, Jan 2, 2006" }} <br />
          Last modified on {{ .Page.Lastmod.Format "Mon, Jan 2, 2006" }} <br />
          {{ .WordCount }} words -
          <a class="tw-underline" target="_blank" href="https://github.com/mauriciopoppe/blog/tree/main/site/content/{{ .File.Path }}">Page Source</a>
        </div>
      </div>
    </div>
  </div>
</div>
