{{/* NOTE: tag header is used in the scripts */}}
<header class="hero is-bold is-small">
  <div class="hero-body article-header__hero-body">
    <div class="container">

      <!-- tags and theme toggle -->
      <nav class="columns">
        <div class="column is-full">
          <div class="tags" style="position: relative">
            {{ range .Params.tags }}
              <span class="tag">{{ . }}</span>
            {{ end }}
            <span style="text-align: right; position: absolute; right: 0; bottom: 0;">
              <!-- class .theme-toggle is referenced from head.html -->
              <button class="button is-dark is-small material-symbols-outlined theme-toggle dark-mode" data-nexttheme="dark"> dark_mode </button>
              <button class="button is-dark is-small material-symbols-outlined theme-toggle light-mode" data-nexttheme="light"> light_mode </button>
            </span>
          </div>
        </div>
      </nav>

      <h1 class="title is-2">{{ .Title }}</h1>
      <div class="columns reverse-column-order article-header__summary">
        <div class="column">
          <figure class="article-header__summary-image">
            {{ $image := .Params.image | absURL }}
            <img src="{{ $image }}" alt="{{ .Title }}" style="max-width: 100%; max-height: 100%"/>
            {{ if .Params.image_alt }}
            <figcaption><i class="is-size-6">{{ .Params.image_alt | markdownify }}</i></figcaption>
            {{ end }}
          </figure>
        </div>
        <div class="column is-flex is-flex-direction-column is-justify-content-space-between">
          <div class="subtitle is-size-4 is-size-5-mobile">
            {{ $description := .Params.description | default .Summary }}
            {{ $description | markdownify }}
          </div>

          {{ $image := .Site.Params.logo | absURL }}
          <div class="article-signature">
            <div class="article-signature__image">
              <a href="/" style="pointer-events: all;">
                <img class="profile-pic" src="{{ $image }}" data-src="{{ $image }}" width="50" height="50" alt="Me" />
              </a>
            </div>
            <p class="is-size-6 article-signature__metadata">
              <a href="/" style="pointer-events: all; text-decoration: underline" target="_blank">Mauricio Poppe</a> <br />
              {{ .Page.Lastmod.Format "Mon, Jan 2, 2006" }} -
                  {{ .WordCount }} words -
                  <a style="pointer-events: all; text-decoration: underline" target="_blank" href="https://github.com/mauriciopoppe/blog/tree/main/site/content/{{ .File.Path }}">Page Source</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
