{{ $libraries := "" }}
{{ if (isset .Params "libraries") }}
  {{ $libraries = jsonify .Params.libraries }}
{{ end }}

<section class="tw-container tw-mx-auto tw-p-4" data-libraries='{{ $libraries }}'>
  <div class="tw-flex tw-flex-col tw-gap-4 md:tw-flex-row">

    <!-- table of contents -->
    <aside class="md:tw-w-1/5">
      {{ partial "toc.html" . }}
    </aside>

    <!-- content -->
    <div class="md:tw-w-3/5">

      <!-- article[role=main] is used in many places, remember not to change it-->
      <!-- position:relative is needed for the font size, I don't know why -->
      <!-- class content is how we set defaults, this was inherited from bulma -->
      <article role="main" class="content tw-relative">

        <!-- the content -->
        {{ .Content }}

        <!-- the references if set in the front matter -->
        {{ if isset .Params "references" }}
          <h2 id="references">References</h2>
          <div class="references">
            <ul>
            {{ range .Params.references }}
              <li>{{ . | markdownify }}</li>
            {{ end }}
            </ul>
          </div>
        {{ end }}

      </article>
    </div>

    <aside class="md:tw-w-1/5">
      {{ partial "sitemap.html" . }}
    </aside>
  </div>
</section>
