
<!-- if this is the index page then start uncollapsed -->
{{ if .Scratch.Get "isIndex" }}
  {{ .Scratch.Set "collapsed" "" }}
{{ else }}
  {{ .Scratch.Set "collapsed" "list-is-collapsed" }}
{{ end }}

{{ if (ne .Params.toc "false") }}

<!-- sitemap wrapper, used only for positioning -->
<div style="position: relative" class="sitemap-wrapper">

  <!-- the breadcrumb points to this id, don't change it Mauricio! -->
  <div id="sitemap" class="sitemap">
    <nav id="sitemap-chronological" aria-label="Sitemap">
      {{ partial "sitemap-chronological.html" . }}
    </nav>

    <nav id="sitemap-tree" aria-label="Sitemap">
      {{ partial "sitemap-tree.auto.html" . }}
    </nav>
  </div>

</div>
{{ end }}

