
<!-- if this is the index page then start uncollapsed -->
{{ if .IsHome }}
  {{ .Scratch.Set "collapsed" "" }}
  {{ .Scratch.Set "sidebar-hide" "" }}
  {{ .Scratch.Set "sidebar-style" "border: none" }}
{{ else }}
  {{ .Scratch.Set "collapsed" "list-is-collapsed" }}
  {{ .Scratch.Set "sidebar-hide" "hide" }}
  {{ .Scratch.Set "sidebar-style" "" }}
{{ end }}

{{ if (ne .Params.toc "false") }}

<!-- sitemap wrapper, used only for positioning -->
<div style="position: relative; {{ .Scratch.Get "sidebar-style" }}" class="sidebar sitemap-wrapper {{ .Scratch.Get "sidebar-hide" }}">

  <!-- scripts use the id, don't change it Mauricio! -->
  <div id="sitemap" class="sitemap">
    <nav id="sitemap-tree" aria-label="Sitemap" class="sitemap-content">
      {{ partial "sitemap-tree.auto.html" . }}
    </nav>
  </div>

</div>
{{ end }}

