{{ define "main" }}

  <!-- <script> -->
  <!--   window.BrowserNavigationTree({ -->
  <!--     onItemFocus: function (item) { -->
  <!--       window.BrowserDisplayPreview(item) -->
  <!--     }, -->
  <!--     onItemBlur: function () { -->
  <!--       window.BrowserDisplayPreview() -->
  <!--     } -->
  <!--   }) -->
  <!-- </script> -->

  <!-- <script src="/browser-background-generator/bundle.js"></script> -->
  <!-- <script> -->
  <!--   browserBackgroundGenerator.default() -->
  <!-- </script> -->

  {{ partial "browser/browser-main.html" . }}
{{ end }}

