{{ define "nav" }}
  {{ partial "nav.html" . }}
{{ end }}

{{ define "main" }}

<!-- breadcrumb -->
<!-- <div id="root"></div> -->
<!-- <script> window.browserMain.render() </script> -->

<div class="section">
  <div role="main" class="container">
    <div class="column">
      <div class="content is-medium">
        {{ with .Content }}
          <div class="hero">
            {{.}}
          </div>
        {{ end }}
        <div class="posts-list">
          {{ $pag := .Paginate (where .Data.Pages "Type" "notes") }}
          {{ range $pag.Pages }}
            <article class="post-preview box">
              <a href="{{ .Permalink }}">
                <div>
                  <div>
                    <h3 class="title post-title">
                      {{ .Title }}
                      <div class="is-size-6">
                        {{ partial "breadcrumb" . }}
                      </div>
                    </h3>
                    {{ if .Params.subtitle }}
                      <h3 class="subtitle post-subtitle">
                      {{ .Params.subtitle }}
                      </h3>
                    {{ end }}
                  </div>
                </div>
              </a>

              <div class="post-entry">
                {{ if .Truncated }}
                  {{ .Summary }}
                  <div>
                    <a href="{{ .Permalink }}" class="post-read-more">Read more...</a>
                  </div>
                {{ else }}
                  {{ .Content }}
                {{ end }}
              </div>

              {{ if .Params.tags }}
                <div class="post-meta tags">
                {{ range .Params.tags }}
                  <span class="tag">
                    #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>
                  </span>
                {{ end }}
                </div>
              {{ end }}

            </article>
          {{ end }}
        </div>

        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}
