<!DOCTYPE html>
<html lang="{{ .Lang }}">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>100 Days of Songs</title>
    {{ partial "head.html" . }}
    <style>
        body {
            background-color: black;
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=The+Girl+Next+Door" rel="stylesheet">

    <script charset="utf-8" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/104/three.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/16.3.5/Tween.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r16/Stats.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@thelevicole/youtube-to-html5-loader@4.0.1/dist/YouTubeToHtml5.min.js"></script>
</head>
<body>

    <video id="video-source" src="/sandbox/jukebox/bachata.mp4"
            style="width: 0; height: 0; position: absolute;" controls></video>

    <div id="root">
    </div>

    {{ partial "scripts/jukebox.html" . }}

</body>
</html>
