{{/* overrides the blocks set on baseof.html */}}

{{ define "head" }}
  {{ partial "head.html" . }}
{{ end }}

{{ define "header" }}
<div class="tw-container tw-mx-auto tw-p-4 tw-mb-4">
  <nav class="tw-flex">
    <!-- tags and theme toggle -->
    <div>
      <a href="/">🔙 Go back to index page </a>
    </div>
    <div class="tw-flex-1"></div>
    <div class="tw-relative">
      <span class="tw-text-right tw-absolute tw-right-0 tw-top-0">
        <!-- class .theme-toggle is referenced from head.html -->
        <!-- TODO(tailwind): update these buttons -->
        <button class="material-symbols-outlined theme-toggle dark-mode" data-nexttheme="dark"> dark_mode </button>
        <button class="material-symbols-outlined theme-toggle light-mode" data-nexttheme="light"> light_mode </button>
      </span>
    </div>
  </nav>
</div>
{{ end }}


{{ define "main" }}
<main class="tw-container tw-mx-auto tw-px-4">
  <h1 class="tw-text-5xl">{{ .Title }}</h1>
  <p class="block">There's a total of {{ len .Data.Pages }} articles.</p>
  <br />
  <hr />
  <br />
  <style>.group\/note-preview h2 { font-size: 2rem; }</style>
  {{ range .Pages }}
    <div class="tw-mb-6 group/note-preview">
        {{ partial "note-preview.html" . }}
    </div>
  {{ end }}
</main>
{{ end }}

{{ define "footer" }}
  {{ partial "single-footer.html" . }}
{{ end }}

