<!-- math-statement -->
{{- if not (.Get "type") }}
<b style="color: red">math-statement: type required</b>
{{- end }}

{{ $contentItalic := eq (.Get "type") "theorem" }}

<div class="math-statement {{ .Get "type" }}" {{ if .Get "id" }}id="{{ .Get "type" }}-{{ .Get "id" }}" {{ end }}>
    <b><span class="text-capitalize">{{ lower (.Get "type") }}</span> {{ if .Get "id" }} {{ . }} {{ end }} {{ if .Get "name" }} ({{ .Get "name" }}) {{ end }}</b>
    <span class="content">
    {{ if $contentItalic }} <em> {{ end }}
        {{ .Inner }}
    {{ if $contentItalic }} </em> {{ end }}
    </span>
</div>
<!-- /math-statement -->
