@import './themes/dark.css';
@import './themes/light.css';

:root {
  --family-sans: Lato, system-ui, sans-serif;
  --family-serif: "EB Garamond", system-ui, serif;
  --family-strong: "Ultra", serif;
  --family-monospace: Consolas, monospace;
}

html {
  font-family: var(--family-serif);
  font-size: 24px;
  background-color: var(--grey-darker);
}

body {
  @apply tw-text-base tw-antialiased tw-font-normal tw-leading-5;
  /* The website is mobile first, overrides are for a desktop viewport */
  @apply md:tw-text-lg md:tw-leading-6;
  color: var(--grey-light);
}

::selection {
  background-color: rgba(var(--primary), 0.3);
}

a {
  @apply tw-text-primary;

  /* so that links can break */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

a:hover {
  filter: drop-shadow(0px 0px 5px rgba(var(--primary), 1)) brightness(1.2);
  transform: scale(1.01);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--family-sans);
}

/* override .number that conflicts with the highlighter numbers */
.number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  font-size: inherit;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: initial;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(var(--primary), 1), rgba(0, 0, 0, 0));
}

pre {
  @apply tw-leading-4;
  code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
  }
}

code {
  background-color: var(--grey-dark);
  color: rgb(var(--primary));
  font-size: 0.7em;
  padding: 0.1em 0.25em;
}

blockquote {
  @apply tw-rounded-md;
}

@view-transition {
  navigation: auto;
}

::view-transition-group(root) {
    animation-duration: 0.2s;
}

