<script>
window.addEventListener('DOMContentLoaded', function () {
  // lazy load the footer
  var target = document.querySelector('footer')
  var options = {
    rootMargin: '400px'
  }
  var loaded = false
  function callback(entries) {
    entries.forEach(function (entry) {
      if (loaded || !entry.isIntersecting) return;
      loaded = true
      var script = document.createElement('script')
      script.src = '/js/browser/browser-sunset/bundle.js'
      script.onload = function () {
        window.browserSunset.render({
          target: document.querySelector('#browser-sunset')
        })
      }
      document.body.appendChild(script)
    });
  }
  var observer = new IntersectionObserver(callback, options);
  observer.observe(target);
})
</script>
