article[role=main] {
  position: relative;

  // if an h2 is a first child of content then bulma adds some margin
  &.content h2:first-child {
    margin-top: 0;
  }

  &.content a {
    // color: $primary;
    text-decoration: underline;
    position: relative;
    transition: .2s ease-out;
  }

}

.article-header__hero-body {
}

.article-header__summary {
  a {
    text-decoration: underline;
  }
  @include desktop {
    max-height: 450px;
  }
}

.article-signature {
  display: flex;
  justify-content: left;
  align-content: left;
}

.article-signature__image {
  margin-right: 10px;
}

.article-signature__metadata {
  text-align: left;

  @include until($desktop) {
    line-height: 1.25em;
  }
}

.theme-toggle {
  display: none;
}
html[data-theme="dark"] .light-mode {
  display: block;
}
html[data-theme="light"] .dark-mode {
  display: block;
}

section.main {
  @include desktop {
    margin: 2em 0;
  }
}
