article[role=main] {
  position: relative;

  // if an h2 is a first child of content then bulma adds some margin
  &.content h2:first-child {
    margin-top: 0;
  }

  &.content a {
    // color: $primary;
    text-decoration: underline;
    position: relative;
    transition: .2s ease-out;
  }

  @include desktop {
    & {
      font-size: 1.25em;
    }
  }

  @include until($desktop) {
    & {
      font-size: 1.1em;
    }
  }
}

.article-signature {
  display: flex;
  justify-content: left;
  align-content: left;
  margin: 1em 0 1em 0;

  @include until($desktop) {
    & {
      flex-direction: column;
    }
  }
}

.article-signature__image {
  text-align: right;
  margin-right: 1em;

  @include until($desktop) {
    & {
      text-align: center;
      margin-bottom: 1em;
    }
  }
}

.article-signature__metadata {
  text-align: left;

  @include until($desktop) {
    & {
      text-align: center;
    }
  }
}

section.main {
  margin: 2em 0;
}
