//@import "../../../node_modules/bulma/sass/utilities/_all";
//@import "../../../node_modules/bulma/sass/base/_all";
//@import "../../../node_modules/bulma/sass/elements/box";
//@import "../../../node_modules/bulma/sass/elements/container";
//@import "../../../node_modules/bulma/sass/elements/content";
//@import "../../../node_modules/bulma/sass/elements/tag";
//@import "../../../node_modules/bulma/sass/elements/title";
//@import "../../../node_modules/bulma/sass/components/breadcrumb";
//@import "../../../node_modules/bulma/sass/components/card";
//@import "../../../node_modules/bulma/sass/grid/columns";
//@import "../../../node_modules/bulma/sass/layout/_all";

@use "../../../node_modules/bulma/sass/utilities/initial-variables" as iv;
@use "../../../node_modules/bulma/sass/utilities/css-variables" as cv;
@use "../../../node_modules/bulma/sass/utilities/derived-variables" as dv;
@use "../../../node_modules/bulma/sass/utilities/mixins" as mx;

$radius: 10px;

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// override .number that conflicts with the higlighter numbers
.number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  font-size: inherit;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: initial;
}

// wrap on links
a {
  @include word-wrap();
}

.box {
  box-shadow: none;
  border: 2px solid dv.$primary;
  color: red;
}

hr {
  background-color: dv.$primary;
}

body {
  font-size: calc(dv.$size-normal + 0.25em);
  @include mx.breakpoint("desktop") {
    font-size: dv.$size-normal;
    line-height: 1.25;
  }
}

pre code {
  font-size: unset; /* controlled by <pre> below instead. */
}

pre, .content pre {
  padding: 0.75em 1em; /* redefined because padding is set for pre but overriden by bulma for .content pre */
  overflow: auto;
  border-radius: iv.$radius;
  background-color: iv.$grey;
  font-size: 0.7em;
}

code, .content code {
  border-radius: iv.$radius;
}

.content ul {
  @include mx.breakpoint("desktop") {
    margin-left: 1em;
    margin-top: 1em;
  }
}

.tag {
  border: 1px solid dv.$primary;
  font-weight: iv.$weight-bold;
}

::selection {
  background: dv.$info;
}
html[data-theme=light] {
  ::selection {
    background: dv.$primary;
  }
}

:focus-visible {
  outline: 3px solid dv.$info;
}

img {
  border-radius: iv.$radius;
}

h1, h2, h3, h4, h5, h6 {
  font-family: dv.$family-primary;
}

@include mx.breakpoint("tablet") {
  .container.is-fluid, .hero.is-small .hero-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

// @media screen and (max-width: iv.$breakpoints.tablet.from) {
// }
//
// New utility function that reverses the flex direction on mobile only.
.reverse-column-order {
  @include mx.breakpoint("desktop") {
    display: flex;
    flex-direction: column-reverse;
  }
}
