//check https://github.com/jgthms/bulma/blob/master/bulma.sass

//@import "../../../node_modules/bulma/sass/utilities/_all";
//@import "../../../node_modules/bulma/sass/base/_all";
//@import "../../../node_modules/bulma/sass/elements/box";
//@import "../../../node_modules/bulma/sass/elements/container";
//@import "../../../node_modules/bulma/sass/elements/content";
//@import "../../../node_modules/bulma/sass/elements/tag";
//@import "../../../node_modules/bulma/sass/elements/title";
//@import "../../../node_modules/bulma/sass/components/breadcrumb";
//@import "../../../node_modules/bulma/sass/components/card";
//@import "../../../node_modules/bulma/sass/grid/columns";
//@import "../../../node_modules/bulma/sass/layout/_all";

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// override .number that conflicts with the higlighter numbers
.number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  font-size: inherit;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: initial;
}

// wrap on links
a {
  @include word-wrap();
  //text-shadow: 0px 0px 10px rgba($link, 0.5);
}

// neon box shadow
.box {
  box-shadow: $box-shadow;
  border: 2px solid $primary;
}

// neon separator
hr {
  background-color: $primary;
}

body {
  // disabling these properties to get a better font
  font-smooth: auto;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  @include until($desktop) {
    line-height: 1.2;
  }
}

pre[class*=language-] {
  border-radius: $radius;
  background-color: $grey-darker;
}

code {
  background-color: transparent;
  border-radius: $radius;
}

.content ul {
  @include until($desktop) {
    margin-left: 1em;
    margin-top: 1em;
  }
}

.tag {
  border: 1px solid $primary;
  font-weight: $weight-bold;
}

::selection {
  background: $info;
}

:focus-visible {
  outline: 3px solid $info;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $family-sans-serif;
}

@media screen and (max-width: $tablet) {
  .container.is-fluid, .hero.is-small .hero-body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

// New utility function that reverses the flex direction on mobile only.
.reverse-column-order {
  @include until($desktop) {
    display: flex;
    flex-direction: column-reverse;
  }
}
