@import "bulma/sass/utilities/initial-variables.sass";
@import "_variables.scss";
@import "bulma/bulma.sass";

// custom variables
$family-serif: "Merriweather", "Georgia", serif;
$family-primary: $family-serif;
$time: 250ms;

@mixin word-wrap() {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

// override .number that conflicts with the higlighter numbers
.number {
  align-items: initial;
  background-color: initial;
  border-radius: initial;
  display: initial;
  font-size: inherit;
  height: initial;
  justify-content: initial;
  margin-right: initial;
  min-width: initial;
  padding: initial;
  text-align: initial;
  vertical-align: initial;
}

// wrap on links
a {
  @include word-wrap();
  //text-shadow: 0px 0px 10px rgba($link, 0.5);
}

// neon box shadow
.box {
  //box-shadow: 0px 0px 10px 3px rgba($primary, 0.5);
  border: 2px solid rgba($primary, 1);
}

// neon separator
hr {
  background-color: $primary;
}

body {
  //text-shadow: 0px 0px 10px rgba($text, 0.2);
  font-family: 'Computer Modern Serif', $family-serif;
  // disabling these properties to get a better font
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
}

pre[class*=language-] {
  font-size: 0.7em !important;
  border-radius: $radius;
  background-color: lighten($body-background-color, 2) !important;
}

code {
  font-weight: normal;
  padding: .25em;
  background-color: transparent;
  border-radius: $radius;
}

