figure.is-responsive {
  img {
    max-width: 75%;
  }

  &.is-25p img {
    max-width: 25%;
  }

  &.is-50p img {
    max-width: 50%;
  }

  &.is-90p img {
    max-width: 90%;
  }

  &.is-100p img {
    max-width: 100%;
  }

  @include until($desktop) {
    & img {
      max-width: 100% !important;
    }
  }
}

figure.is-inverted img {
  filter: invert(1);
}

// override to the default width: 100%
.image img {
  width: auto;
}
