footer.footer {
  background-color: transparent;
  // background-image:
  //   linear-gradient(
  //     to bottom,
  //     $color75, $color100
  //   );
  position: relative;
  height: 500px;
}

.footer--profile {
  background-color: rgba($black, 0.5);
}
