section.hero {
  @include desktop {
    // let the canvas that's behind the element take control of all the events
    .hero-body {
      pointer-events: none;
    }
  }
}

nav.breadcrumb {
  overflow: scroll;
  // capture events in the nav links
  pointer-events: all;
}
