// let the canvas that's behind the element take control of all the events
section.hero {
  //background-image: linear-gradient(
  //  to bottom right,
  //  $color0,
  //  $color99
  //);

  .hero-body {
    pointer-events: none;
  }
}

nav.breadcrumb {
  overflow: scroll;
  // capture events in the nav links
  pointer-events: all;
}
