// styles when it's rendered in the root page
.is-index {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .sitemap {
    opacity: 1;
    overflow: scroll;
    max-height: calc(100vh - 200px);
    pointer-events: all;
  }

  .card {
    background-color: rgba($black, 0.5);
    //background-color: transparent;
    //backdrop-filter: blur(20px);
  }
}

@media screen and (max-width: $desktop) {
  .is-index {
    height: auto;
    pointer-events: initial;

    .sitemap {
      max-height: none;
    }
  }
}

.social-button {
  border: 2px solid $primary;
  padding: 10px;
  margin-left: 10px;
  border-radius: $radius;
  transition: all $time;

  &:hover {
    color: $primary;
    background-color: $body-background-color;
    box-shadow: $box-shadow;
  }
}
