// styles when it's rendered in the root page
.is-index {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  hr {
    height: 1px;
    //background-color: transparent;
  }

  .sitemap {
    opacity: 1;
    overflow: scroll;
    max-height: calc(100vh - 200px);
    pointer-events: all;

    // suppress the border
    li div {
      border-right: none;
    }
  }

  .quote-highlight {
    color: $primary;
  }

  .card {
    background-color: rgba($black, 0.5);
  }

  .social-button {
    display: inline-block;
    border: 2px solid $primary;
    padding: 5px 10px;
    text-align: center;
    background-color: transparent;
    border-radius: $radius;
    transition: all $time;

    &:hover {
      background-color: $primary;
      color: $text-invert;
    }
  }

  a:hover, [data-toggle-text]:hover {
    color: $primary;
  }
}

@media screen and (max-width: $desktop) {
  .is-index {
    height: auto;
    pointer-events: initial;

    .sitemap {
      max-height: none;
    }
  }
}
