// styles when the root page is active
.my-card {
  color: #c5c5c5 !important;
  background-color: rgba($black, 0.5);

  hr {
    height: 1px;
  }

  .social-button {
    display: inline-block;
    border: 2px solid $primary;
    padding: 5px 10px;
    text-align: center;
    background-color: transparent;
    border-radius: $radius;
    transition: all $time;

    &:hover {
      background-color: $primary;
      color: $text-invert;
    }
  }

  a {
    color: $primary;
  }

  a:hover, [data-toggle-text]:hover {
    color: $primary;
  }

  @include until($desktop) {
    & {
      pointer-events: initial;
      margin: auto;
    }
  }
}

.my-card__profile {
  @include desktop {
    text-align: right;
  }
}

.my-card__content {
  @include desktop {
    max-width: 800px;
    margin: auto;
  }
}

.my-card__links {
  @include desktop {
    font-size: 0.8em;
  }
}
