$color0: rgb(185, 90, 112);
$color1: rgb(183, 89, 111);
$color2: rgb(182, 89, 110);
$color3: rgb(180, 88, 109);
$color4: rgb(178, 88, 109);
$color5: rgb(177, 87, 108);
$color6: rgb(175, 87, 107);
$color7: rgb(173, 86, 106);
$color8: rgb(172, 86, 105);
$color9: rgb(170, 85, 104);
$color10: rgb(169, 85, 103);
$color11: rgb(167, 84, 102);
$color12: rgb(165, 83, 102);
$color13: rgb(164, 83, 101);
$color14: rgb(162, 82, 100);
$color15: rgb(160, 82, 99);
$color16: rgb(159, 81, 98);
$color17: rgb(157, 81, 97);
$color18: rgb(156, 80, 96);
$color19: rgb(154, 80, 96);
$color20: rgb(152, 79, 95);
$color21: rgb(151, 79, 94);
$color22: rgb(149, 78, 93);
$color23: rgb(148, 77, 92);
$color24: rgb(146, 77, 91);
$color25: rgb(144, 76, 91);
$color26: rgb(143, 76, 90);
$color27: rgb(141, 75, 89);
$color28: rgb(140, 75, 88);
$color29: rgb(138, 74, 87);
$color30: rgb(136, 74, 86);
$color31: rgb(135, 73, 86);
$color32: rgb(133, 73, 85);
$color33: rgb(132, 72, 84);
$color34: rgb(130, 71, 83);
$color35: rgb(129, 71, 82);
$color36: rgb(127, 70, 81);
$color37: rgb(125, 70, 81);
$color38: rgb(124, 69, 80);
$color39: rgb(122, 69, 79);
$color40: rgb(121, 68, 78);
$color41: rgb(119, 68, 77);
$color42: rgb(118, 67, 76);
$color43: rgb(116, 66, 76);
$color44: rgb(115, 66, 75);
$color45: rgb(113, 65, 74);
$color46: rgb(111, 65, 73);
$color47: rgb(110, 64, 72);
$color48: rgb(108, 64, 72);
$color49: rgb(107, 63, 71);
$color50: rgb(105, 63, 70);
$color51: rgb(104, 62, 69);
$color52: rgb(102, 61, 68);
$color53: rgb(101, 61, 68);
$color54: rgb(99, 60, 67);
$color55: rgb(98, 60, 66);
$color56: rgb(96, 59, 65);
$color57: rgb(95, 59, 64);
$color58: rgb(93, 58, 64);
$color59: rgb(92, 58, 63);
$color60: rgb(90, 57, 62);
$color61: rgb(89, 56, 61);
$color62: rgb(87, 56, 60);
$color63: rgb(86, 55, 60);
$color64: rgb(84, 55, 59);
$color65: rgb(83, 54, 58);
$color66: rgb(81, 54, 57);
$color67: rgb(80, 53, 57);
$color68: rgb(79, 52, 56);
$color69: rgb(77, 52, 55);
$color70: rgb(76, 51, 54);
$color71: rgb(74, 51, 53);
$color72: rgb(73, 50, 53);
$color73: rgb(71, 50, 52);
$color74: rgb(70, 49, 51);
$color75: rgb(68, 49, 50);
$color76: rgb(67, 48, 50);
$color77: rgb(65, 47, 49);
$color78: rgb(64, 47, 48);
$color79: rgb(63, 46, 47);
$color80: rgb(61, 46, 47);
$color81: rgb(60, 45, 46);
$color82: rgb(58, 44, 45);
$color83: rgb(57, 44, 44);
$color84: rgb(55, 43, 44);
$color85: rgb(54, 43, 43);
$color86: rgb(53, 42, 42);
$color87: rgb(51, 42, 41);
$color88: rgb(50, 41, 41);
$color89: rgb(48, 40, 40);
$color90: rgb(47, 40, 39);
$color91: rgb(46, 39, 38);
$color92: rgb(44, 39, 38);
$color93: rgb(43, 38, 37);
$color94: rgb(41, 38, 36);
$color95: rgb(40, 37, 36);
$color96: rgb(39, 36, 35);
$color97: rgb(37, 36, 34);
$color98: rgb(36, 35, 33);
$color99: rgb(34, 35, 33);
