$color0: rgb(185, 75, 105);
$color1: rgb(183, 75, 104);
$color2: rgb(182, 74, 103);
$color3: rgb(180, 74, 103);
$color4: rgb(178, 74, 102);
$color5: rgb(177, 73, 101);
$color6: rgb(175, 73, 100);
$color7: rgb(174, 73, 99);
$color8: rgb(172, 72, 99);
$color9: rgb(170, 72, 98);
$color10: rgb(169, 72, 97);
$color11: rgb(167, 71, 96);
$color12: rgb(165, 71, 96);
$color13: rgb(164, 71, 95);
$color14: rgb(162, 70, 94);
$color15: rgb(161, 70, 93);
$color16: rgb(159, 70, 92);
$color17: rgb(157, 69, 92);
$color18: rgb(156, 69, 91);
$color19: rgb(154, 68, 90);
$color20: rgb(153, 68, 89);
$color21: rgb(151, 68, 89);
$color22: rgb(149, 67, 88);
$color23: rgb(148, 67, 87);
$color24: rgb(146, 67, 86);
$color25: rgb(145, 66, 85);
$color26: rgb(143, 66, 85);
$color27: rgb(141, 66, 84);
$color28: rgb(140, 65, 83);
$color29: rgb(138, 65, 82);
$color30: rgb(137, 64, 82);
$color31: rgb(135, 64, 81);
$color32: rgb(134, 64, 80);
$color33: rgb(132, 63, 79);
$color34: rgb(130, 63, 79);
$color35: rgb(129, 63, 78);
$color36: rgb(127, 62, 77);
$color37: rgb(126, 62, 76);
$color38: rgb(124, 61, 76);
$color39: rgb(123, 61, 75);
$color40: rgb(121, 61, 74);
$color41: rgb(120, 60, 73);
$color42: rgb(118, 60, 73);
$color43: rgb(116, 59, 72);
$color44: rgb(115, 59, 71);
$color45: rgb(113, 59, 70);
$color46: rgb(112, 58, 70);
$color47: rgb(110, 58, 69);
$color48: rgb(109, 57, 68);
$color49: rgb(107, 57, 67);
$color50: rgb(106, 57, 67);
$color51: rgb(104, 56, 66);
$color52: rgb(103, 56, 65);
$color53: rgb(101, 55, 65);
$color54: rgb(100, 55, 64);
$color55: rgb(98, 55, 63);
$color56: rgb(97, 54, 62);
$color57: rgb(95, 54, 62);
$color58: rgb(94, 53, 61);
$color59: rgb(92, 53, 60);
$color60: rgb(91, 52, 59);
$color61: rgb(89, 52, 59);
$color62: rgb(88, 52, 58);
$color63: rgb(86, 51, 57);
$color64: rgb(85, 51, 57);
$color65: rgb(83, 50, 56);
$color66: rgb(82, 50, 55);
$color67: rgb(80, 49, 54);
$color68: rgb(79, 49, 54);
$color69: rgb(77, 49, 53);
$color70: rgb(76, 48, 52);
$color71: rgb(75, 48, 52);
$color72: rgb(73, 47, 51);
$color73: rgb(72, 47, 50);
$color74: rgb(70, 46, 50);
$color75: rgb(69, 46, 49);
$color76: rgb(67, 45, 48);
$color77: rgb(66, 45, 47);
$color78: rgb(64, 45, 47);
$color79: rgb(63, 44, 46);
$color80: rgb(62, 44, 45);
$color81: rgb(60, 43, 45);
$color82: rgb(59, 43, 44);
$color83: rgb(57, 42, 43);
$color84: rgb(56, 42, 43);
$color85: rgb(54, 41, 42);
$color86: rgb(53, 41, 41);
$color87: rgb(52, 40, 41);
$color88: rgb(50, 40, 40);
$color89: rgb(49, 39, 39);
$color90: rgb(47, 39, 39);
$color91: rgb(46, 38, 38);
$color92: rgb(44, 38, 37);
$color93: rgb(43, 37, 37);
$color94: rgb(42, 37, 36);
$color95: rgb(40, 36, 35);
$color96: rgb(39, 36, 35);
$color97: rgb(37, 35, 34);
$color98: rgb(36, 35, 33);
$color99: rgb(34, 35, 33);
