$color0: rgb(159, 65, 92);
$color1: rgb(157, 65, 91);
$color2: rgb(156, 64, 90);
$color3: rgb(154, 64, 90);
$color4: rgb(153, 63, 89);
$color5: rgb(151, 63, 88);
$color6: rgb(150, 62, 87);
$color7: rgb(148, 62, 86);
$color8: rgb(147, 62, 85);
$color9: rgb(145, 61, 85);
$color10: rgb(144, 61, 84);
$color11: rgb(142, 60, 83);
$color12: rgb(141, 60, 82);
$color13: rgb(139, 59, 81);
$color14: rgb(137, 59, 81);
$color15: rgb(136, 58, 80);
$color16: rgb(134, 58, 79);
$color17: rgb(133, 58, 78);
$color18: rgb(131, 57, 77);
$color19: rgb(130, 57, 77);
$color20: rgb(128, 56, 76);
$color21: rgb(127, 56, 75);
$color22: rgb(125, 55, 74);
$color23: rgb(124, 55, 73);
$color24: rgb(122, 54, 73);
$color25: rgb(121, 54, 72);
$color26: rgb(119, 54, 71);
$color27: rgb(118, 53, 70);
$color28: rgb(116, 53, 70);
$color29: rgb(115, 52, 69);
$color30: rgb(114, 52, 68);
$color31: rgb(112, 51, 67);
$color32: rgb(111, 51, 66);
$color33: rgb(109, 50, 66);
$color34: rgb(108, 50, 65);
$color35: rgb(106, 50, 64);
$color36: rgb(105, 49, 63);
$color37: rgb(103, 49, 63);
$color38: rgb(102, 48, 62);
$color39: rgb(100, 48, 61);
$color40: rgb(99, 47, 60);
$color41: rgb(98, 47, 60);
$color42: rgb(96, 46, 59);
$color43: rgb(95, 46, 58);
$color44: rgb(93, 45, 57);
$color45: rgb(92, 45, 56);
$color46: rgb(90, 45, 56);
$color47: rgb(89, 44, 55);
$color48: rgb(88, 44, 54);
$color49: rgb(86, 43, 53);
$color50: rgb(85, 43, 53);
$color51: rgb(83, 42, 52);
$color52: rgb(82, 42, 51);
$color53: rgb(81, 41, 51);
$color54: rgb(79, 41, 50);
$color55: rgb(78, 40, 49);
$color56: rgb(76, 40, 48);
$color57: rgb(75, 39, 48);
$color58: rgb(74, 39, 47);
$color59: rgb(72, 39, 46);
$color60: rgb(71, 38, 45);
$color61: rgb(69, 38, 45);
$color62: rgb(68, 37, 44);
$color63: rgb(67, 37, 43);
$color64: rgb(65, 36, 42);
$color65: rgb(64, 36, 42);
$color66: rgb(63, 35, 41);
$color67: rgb(61, 35, 40);
$color68: rgb(60, 34, 40);
$color69: rgb(59, 34, 39);
$color70: rgb(57, 33, 38);
$color71: rgb(56, 33, 37);
$color72: rgb(55, 32, 37);
$color73: rgb(53, 32, 36);
$color74: rgb(52, 31, 35);
$color75: rgb(51, 31, 35);
$color76: rgb(49, 31, 34);
$color77: rgb(48, 30, 33);
$color78: rgb(47, 30, 33);
$color79: rgb(45, 29, 32);
$color80: rgb(44, 29, 31);
$color81: rgb(43, 28, 30);
$color82: rgb(41, 28, 30);
$color83: rgb(40, 27, 29);
$color84: rgb(39, 27, 28);
$color85: rgb(38, 26, 28);
$color86: rgb(36, 26, 27);
$color87: rgb(35, 25, 26);
$color88: rgb(34, 25, 26);
$color89: rgb(32, 24, 25);
$color90: rgb(31, 24, 24);
$color91: rgb(30, 23, 24);
$color92: rgb(29, 23, 23);
$color93: rgb(27, 22, 22);
$color94: rgb(26, 22, 22);
$color95: rgb(25, 21, 21);
$color96: rgb(24, 20, 20);
$color97: rgb(22, 20, 19);
$color98: rgb(21, 19, 19);
$color99: rgb(20, 19, 18);
