.profile-pic-wrapper {
  border-radius: 25px;
  display: inline-block;
  width: 50px;
  height: 50px;
}

.profile-pic {
  border-radius: 50px;
}

.about-me {
  max-width: 70%;
  margin-left: auto;

  @include until($desktop) {
    & {
      max-width: 100%;
    }
  }
}
