.profile-pic-wrapper {
  border-radius: 50px;
  border: 3px solid $primary;
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.profile-pic {
  border-radius: 50px;
}

.about-me {
  max-width: 70%;
  margin-left: auto;
}

@media screen and (max-width: $desktop) {
  .about-me {
    max-width: 100%;
  }
}

