.sitemap {
  opacity: 0.3;
  font-size: 0.8em;
  transition: opacity $time;
  position: relative;
  overflow: auto;

  &:hover {
    opacity: 1;
  }

  li {
    margin: 5px 0;
    padding-left: 20px;

    // the right border (default style)
    div {
      position: relative;
      cursor: pointer;
      height: 100%;
    }

    &[data-url-target]:hover {
      padding-left: 25px;
    }

    &.is-active {
      // right border (active style)
      > div {
        font-weight: bold;
        color: $primary;
      }
    }
  }

  .list-is-collapsed {
    height: 0;
  }

  .list-is-collapsible {
    overflow: hidden;
  }

  // arrow styling
  .children-toggle {
    border: solid $primary;
    border-width: 0 1px 1px 0;
    padding: 2px;
    position: absolute;
    top: 8px;
    left: -15px;
    transform: rotate(-45deg);
    transition: all $time ease-in-out;
  }

  li.item-expanded {
    > div .children-toggle {
      transform: rotate(45deg);
    }
  }

  a {
    // override primary color set on links
    color: currentColor;
    display: inline-block;
    line-height: 1em;
  }

  @include until($desktop) {
    font-size: 1em;
    position: initial !important;
    top: initial !important;
    height: auto !important;
    width: auto !important;
    overflow: hidden;
    opacity: 1;
  }
}

