// defined in bulma-css-vars.config.js
//$grey-darker:  #212220;
//$grey-dark:    #454544;
//$grey:         #ABABAA;
//$grey-light:   #C5C5C4;
//$grey-lighter: #DEDEDD;
//$orange: #f89406;
//$green: #62c462;
//$blue: #5bc0de;
//$red: #ee5f5b;

// defined in bulma-css-vars.config.js
//$primary: $color0 !default;
//$info: $color50 !default;
//$warning: $color99 !default;
//$warning-invert: #fff;

// override

$family-serif: "EB Garamond" , serif;
$family-sans-serif: "Lato" , serif;
$family-monospace: Consolas, monospace;
$family-primary: $family-serif;

$body-background-color: $grey-darker;
$body-size: 18px; // 16px;

$body-weight: 400;
$body-font-size: 1em;
$body-line-height: 1.25;
$code-weight: 400;
$code-padding: 0.25em;
$code-size: 0.75em;
$pre-font-size: 0.8em;
$pre-code-font-size: 0.8em;
$pre-padding: 0.75em 1em;

$black-bis: rgb(18, 18, 18);

$border: $grey-light;
$radius: 10px;

$background: $grey-dark;
$footer-background-color: $background;
$button-background-color: $background;
$button-border-color: lighten($button-background-color, 15);

$time: 350ms;

$title-color: $grey-lighter;
$title-weight: 400;
$subtitle-color: $grey-lighter;
$subtitle-strong-color: $grey-lighter;

$content-heading-weight: 400;

$text: $grey-light;
$text-light: $grey-lighter;
$text-strong: $grey-lighter;

$box-shadow: none; // 0px 0px 10px $primary;
$box-background-color: $grey-dark;

$card-shadow: none;
$card-background-color: $grey-darker;
$card-header-shadow: none;
$card-header-background-color: rgba($black-bis, 0.2);
$card-footer-background-color: rgba($black-bis, 0.2);

$code: $primary;

$tag-color: $primary;
$tag-background-color: transparent;
// defined in /bulma-css-vars.config.js
//$link: #fafafa;
//$link-invert: $link;
//$link-hover: lighten($link, 5);
//$link-focus: darken($link, 5);
//$link-active: darken($link, 15);
//$link-focus-border: darken($link, 5);
//$link-active-border: $link-focus-border;

$button-color: #fafafa;

$input-hover-color: $grey-light;
$input-disabled-background-color: $grey-lighter;
$input-disabled-border: $grey-lighter;
$input-arrow: $primary;
$label-color: $text;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-dark;
$table-cell-border: 1px solid $grey-light;

$table-row-hover-background-color: $grey-darker;
$table-striped-row-even-background-color: $grey-darker;
$table-striped-row-even-hover-background-color: lighten($grey-darker, 4);

$pagination-border-color: $border;

$navbar-height: 4rem;
$navbar-background-color: $background;
$navbar-item-color: rgba($link, 0.5);
$navbar-item-hover-color: $link;
$navbar-item-active-color: $link;
$navbar-item-hover-background-color: darken($grey-dark, 5);
$navbar-item-active-background-color: darken($grey-dark, 5);
$navbar-dropdown-background-color: $background;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-active-color: $link;
$navbar-dropdown-item-hover-background-color: darken($grey-dark, 5);
$navbar-dropdown-item-active-background-color: darken($grey-dark, 5);

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;

$button-disabled-background-color: $grey-lighter;

$tabs-toggle-link-active-background-color: $background;
$tabs-toggle-link-active-border-color: $border;
$tabs-toggle-link-active-color: #FFF;
$tabs-boxed-link-active-background-color: $body-background-color;

// override to https://github.com/jgthms/bulma/blob/master/sass/components/tabs.sass
$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;
