// colors and bulma
@import './palette_neon';

// bulma css variables polyfill
@import '../bulma-generated/generated-fallback.css';
@import '../bulma-generated/generated-bulma-vars.sass';
@import '../../../node_modules/bulma-css-vars/functions.sass'; // override and patch bulma functions
@import "_variables.scss";
@import '../../../node_modules/bulma-css-vars/bulma-cv-lib';
@import './bulma';

// libs
@import 'lib/toc';
@import 'lib/mathjax';
@import 'lib/repl';
@import 'lib/icomoon';
@import 'lib/share';
@import 'lib/prism-darcula';
@import 'lib/hypothesis';
@import 'lib/function-plot';
@import 'lib/greuler';
@import 'lib/gist-embed';

// skeleton
@import './index';
@import './article';
@import './breadcrumb';
@import './sitemap';
@import './header';
@import './footer';
@import './profile';
@import './figure';
@import './interview';