{{ define "nav" }}
  {{ partial "nav.html" . }}
{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
<section class="main">
  <div class="container is-fluid">
    <div class="columns">

      <!-- table of contents -->
      <aside class="column is-one-fifth">
        {{ partial "toc.html" . }}
      </aside>

      <hr class="is-hidden-desktop" />

      <!-- content -->
      <div class="column">
        <article role="main" class="content">
          {{ .Content }}
          {{ if isset .Params "references" }}
            <hr />
            <div class="is-size-3">References</div>
            <div class="references">
              <ul>
              {{ range .Params.references }}
                <li>{{ . | markdownify }}</li>
              {{ end }}
              </ul>
            </div>
          {{ end }}
        </article>
      </div>

      <hr class="is-hidden-desktop" />

      <!-- sitemap -->
      <aside class="column is-one-fifth">
        {{ partial "sitemap.html" . }}
      </aside>

    </div>
  </div>

</section>
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
