{{ define "nav" }}
  {{ partial "nav.html" . }}
{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="columns">
      <aside class="column is-one-quarter-desktop is-hidden-tablet-only">
        {{ partial "sitemap.html" . }}
      </aside>

      <div class="column is-half-desktop is-three-quarters-tablet">
        <article role="main" class="content">

          {{ if (ne .Params.toc "false") }}
          <div class="is-hidden-tablet">
            <nav role="navigation">
              <div class="toc-embedded"></div>
            </nav>
          </div>
          {{ end }}

          {{ .Content }}

          {{ if isset .Params "references" }}
            <hr />
            <div class="is-size-3">References</div>
            <div class="references">
              <ul>
              {{ range .Params.references }}
                <li>{{ . | markdownify }}</li>
              {{ end }}
              </ul>
            </div>
          {{ end }}
        </article>

      </div>

      <aside class="column is-one-quarter is-hidden-mobile">
        {{ partial "toc.html" . }}
      </aside>
    </div>
  </div>
</section>
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
