<!-- figure -->
<!-- see figure.scss for the additional classes -->
<figure class="{{ with .Get "class" }}{{.}}{{ end }}"
        {{ with .Get "style" }}style="{{.}}"{{ end }}
        {{ with .Get "id" }}id="{{.}}"{{end}}
>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img class="lazy-load" {{ with .Get "imgStyle" }}style="{{. | safeCSS}}"{{ end }} data-src="{{ .Get "src" | absURL }}" {{ if (.Get "title") }}alt="{{ with .Get "title"}}{{.}}{{ end }}" {{ end }}{{ with .Get "width" }}width="{{.}}" {{ end }}/>
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <p class="tw-text-base">{{ .Get "title" }}</p>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- figure -->
