{{/* overrides the blocks set on _default/baseof.html */}}

{{ define "head" }}
  {{ partial "head.html" . }}
{{ end }}

{{ define "main" }}

<!-- animated background -->
{{ partial "svg/defs.html" . }}

<style>
h1, a, h1.tw-text-primary, span.tw-text-primary { color: rgb(var(--primary)); }
a:hover svg {
  transform: scale(1.1);
}
img {
  filter: drop-shadow(0px 0px 5px rgba(var(--primary), 1));
}

@keyframes in-n-out {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  50% {
    opacity: 1;
    transform: scale(0.7);
  }

  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

@keyframes beat {
  0% {
    transform: scale(1);
  }

  15% {
    transform: scale(1.4);
  }

  30% {
    transform: scale(1);
  }

  45% {
    transform: scale(1.4);
  }

  60% {
    transform: scale(1);
  }

  75% {
    transform: scale(1);
  }
}

#heart-container.start-animation #heart-message {
  display: inline-block;
  animation-duration: 3s;
  animation-name: in-n-out;
}

#heart-container.start-animation .heart {
  display: inline-block;
  animation-duration: 3s;
  animation-name: beat;
}

</style>
<div id="voronoi" style="width: 100vw; height: 100vh; position: fixed; top: 0"></div>

<div class="tw-flex tw-flex-col md:tw-h-screen tw-place-content-center tw-text-center">

  <!-- provides top padding to the entire content -->
  <div id="my-links-card" class="tw-max-w-96 tw-mx-auto tw-px-4 tw-py-16 tw-bg-zinc-900/30 tw-backdrop-blur-sm">
    <img src="/images/me-playing-guitar.png" class="tw-rounded-full tw-aspect-square tw-w-28 tw-border tw-border-primary tw-mx-auto
      tw-inline-block tw-bg-zinc-900/30" alt="profile">

    <div class="tw-my-3 tw-text-primary">
      <p class="tw-text-2xl tw-font-bold">
        Mauricio Poppe
      </p>
      <p class="tw-text-sm">
        Music Performer and Bachata Dancer
      </p>
    </div>

    <div class="tw-my-8 tw-text-md">
      <a href="https://youtube.com/@mauricio-poppe" target="_blank" class="my-pill">
        <span class="tw-absolute tw-left-2 tw-float-left">
          <span class="material-symbols-outlined"> music_note </span>
        </span>
        <span class="tw-flex-1">
          Music Performances
        </span>
      </a>
      <a href="https://youtube.com/@mauricio-poppe" target="_blank" class="my-pill">
        <span class="tw-absolute tw-left-2 tw-float-left">
          <span class="material-symbols-outlined"> falling </span>
        </span>
        <span class="tw-flex-1">
          Dancing
        </span>
      </a>
      <a href="https://mauriciopoppe.com/notes/bachata" target="_blank" class="my-pill">
        <span class="tw-absolute tw-left-2 tw-float-left">
          <span class="material-symbols-outlined"> nightlife </span>
        </span>
        <span class="tw-flex-1">
          My Bachata Journey
        </span>
      </a>
      <a href="https://mauriciopoppe.com" target="_blank" class="my-pill">
        <span class="tw-absolute tw-left-2 tw-float-left">
          <span class="material-symbols-outlined"> edit_note </span>
        </span>
        <span class="tw-flex-1">
          Writing
        </span>
      </a>
      <a href="https://youtube.com/@mauricio-poppe" target="_blank" class="my-pill">
        <span class="tw-absolute tw-left-2 tw-w-5 tw-float-left">
          {{ partial "icons/youtube.html" . }}
        </span>
        <span class="tw-flex-1">
          Vlogs
        </span>
      </a>
      <a href="https://github.com/mauriciopoppe" target="_blank" class="my-pill">
        <span class="tw-absolute tw-left-2 tw-float-left">
          <span class="material-symbols-outlined"> code </span>
        </span>
        <span class="tw-flex-1">
          Software
        </span>
      </a>
      <a href="https://forms.gle/AnZoqQzacNSuWCau7" target="_blank" class="my-pill">
        <span class="tw-absolute tw-left-2 tw-float-left">
          <span class="material-symbols-outlined"> contact_page </span>
        </span>
        <span class="tw-flex-1">
          Contact
        </span>
      </a>
    </div>

    <!-- links to socials -->
    <div class="tw-flex tw-flex-row tw-justify-center tw-content-center tw-gap-5">

      <a href="https://instagram.com/mauricio.poppe" target="_blank" class="my-social-icon">
        {{ partial "icons/instagram.html" . }}
      </a>

      <a href="https://youtube.com/@mauricio-poppe" target="_blank" class="my-social-icon tw-w-8">
        {{ partial "icons/youtube.html" . }}
      </a>

      <a href="https://github.com/mauriciopoppe" target="_blank" class="my-social-icon">
        {{ partial "icons/github.html" . }}
      </a>

      <a href="#" id="heart-container" class="my-social-icon">
        <span class="heart">♥</span>
        <span id="heart-message" class="tw-hidden tw-absolute tw-w-[120px] tw-bottom-[30px] -tw-left-[45px]">Thank you!</span>
      </a>

    </div>

  </div>
</div>
{{ end }}

{{ define "footer" }}
  {{ partial "scripts/voronoi.html" . }}
  {{ partial "scripts/heart.html" . }}
  <script>
    window.myBlog.onDocumentReady(() => {
      window.mainHeart({
        animateOnMouseOver: true,
        animateOnClick: false,
        onClick() { }
      })

      const heartContainer = document.querySelector('#heart-container')
      const firstHeart = document.querySelector('.heart')
      let isAnimating = false
      let heartClickedOnce = false
      firstHeart.addEventListener('click', (e) => {
        if (!isAnimating) {
          isAnimating = true
          heartContainer.classList.add('start-animation')
          setTimeout(() => {
            heartContainer.classList.remove('start-animation')
            isAnimating = false
          }, 3000)

          if (!heartClickedOnce) {
            window.gtag('event', 'links_easter_egg')
            heartClickedOnce = true
            console.log('heart clicked once')
          }
        }
        e.preventDefault()
      })
    })
  </script>
{{ end }}

