<script>
// lazy loader
(function () {
  window.lazyLoader = function (opts, done) {
    var target = opts.target
    var offset = opts.offset || {}

    function insideViewport () {
      var rect = target.getBoundingClientRect()
      return rect.top + ~~offset.top >= 0 &&
        rect.left + ~~offset.left >= 0 &&
        rect.bottom + ~~offset.bottom <= window.innerHeight + rect.height &&
        rect.right + ~~offset.right <= window.innerWidth + rect.width
    }

    var isDone = false
    function checker () {
      if (!isDone && insideViewport(target)) {
        isDone = true
        done()
        window.removeEventListener('scroll', checker)
      }
    }

    window.addEventListener('scroll', checker, false)
    window.addEventListener('load', checker, false)
  }
})()
</script>

{{ partial "browser/browser-sunset.html" . }}
