/* palette ideas: https://mycolor.space/?hex=%23C27083&sub=1 */
html[data-theme=dark] {
  --grey: rgb(171, 171, 171);
  --grey-dark: rgb(43, 43, 43);
  --grey-darker: rgb(33, 34, 32);
  --grey-light: rgb(197, 197, 197);
  --grey-lighter: rgb(222, 222, 222);
  --primary: 194, 112, 131;
}

