{{/*
  layout for content/notes/_index.md: Fullscreen Topic Constellation Graph
*/}}

{{ define "head" }}
  {{ partial "head.html" . }}
  {{ partial "lib/katex.html" . }}
{{ end }}

{{ define "header" }}
{{ end }}

{{ define "main" }}
{{ $favUrls := slice }}
{{ range site.Data.favorites }}
  {{ $favUrlNorm := strings.TrimRight "/" .url }}
  {{ $favUrls = $favUrls | append $favUrlNorm }}
  {{ $favUrls = $favUrls | append (printf "%s/" $favUrlNorm) }}
{{ end }}
{{ $popMap := site.Data.popularity | default dict }}
{{ $notesData := slice }}
{{ range .RegularPagesRecursive.ByDate.Reverse }}
  {{ $url := .RelPermalink }}
  {{ $urlNorm := strings.TrimRight "/" $url }}
  {{ $urlSlash := printf "%s/" $urlNorm }}
  {{ $isFav := or (in $favUrls $urlNorm) (in $favUrls $urlSlash) (eq .Params.favorite true) (in .Params.tags "favorite") }}
  {{ $pop := index $popMap $urlSlash | default (index $popMap $urlNorm) | default 40 }}
  {{ $isInteractive := or .Params.interactive (in .Params.tags "interactive") (in .Params.tags "simulator") }}
  {{ if not $isInteractive }}
    {{ if or (strings.Contains .RawContent "<script") (strings.Contains .RawContent "interactive-") (strings.Contains .RawContent "-simulator") }}
      {{ if not (and (strings.Contains .RawContent "asciinema.org") (not (strings.Contains .RawContent "/js/"))) }}
        {{ $isInteractive = true }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ $tags := .Params.tags | default slice }}
  {{ $summary := (.Params.summary | default .Summary) | markdownify }}
  {{ $image := .Params.image | default "" }}
  {{ $item := dict "id" $url "url" $url "title" .Title "summary" $summary "date" (.Date.Format "Jan 2, 2006") "tags" $tags "readingTime" .ReadingTime "isFavorite" $isFav "interactive" $isInteractive "popularity" $pop "image" $image }}
  {{ $notesData = $notesData | append $item }}
{{ end }}

<script id="notes-graph-data" type="application/json">
{{ $notesData | jsonify | safeJS }}
</script>

<div id="notes-graph-container" class="tw-fixed tw-inset-0 tw-w-screen tw-h-screen tw-overflow-hidden tw-bg-[var(--grey-darker)]"></div>
<script type="module" src="/js/notes/notes-graph.js?v={{ now.Unix }}"></script>
{{ end }}

{{ define "footer" }}
{{ end }}
