{{/*
  layout for content/notes/_index.md

  Before I used to have the following but it got broken :(
  Now I have to duplicate the contents of term.html

    {{ .Render "term" }}
*/}}

{{ define "head" }}
  {{ partial "head.html" . }}
{{ end }}

{{ define "header" }}
<header class="tw-container tw-mx-auto tw-p-3">
  {{ partial "header-navigation.html" . }}

  <div class="tw-group/note-preview">
    <h2 class="tw-group/title md:tw-w-4/5 tw-mx-auto tw-text-center tw-text-4xl md:tw-text-6xl tw-m-5 tw-font-[Ultra] tw-text-primary">
      {{ .Title }}
    </h2>

    <div class="md:tw-w-3/5 tw-mx-auto tw-text-center tw-flex tw-flex-col tw-gap-5">
      <div>
        There's a total of {{ len .Data.Pages }} notes.
      </div>
    </div>

    <hr class="md:tw-w-3/5 tw-mx-auto tw-mt-5" />
  </div>
</header>
{{ end }}

{{ define "main" }}
<main class="tw-container tw-mx-auto tw-px-4">
  <style>.group\/note-preview h2 { font-size: 2rem; }</style>
  <div class="md:tw-w-3/5 tw-mx-auto">
    {{ range .Pages }}
      <a href="{{ .RelPermalink }}" class="tw-block tw-my-4">
        {{ partial "note-preview.html" . }}
      </a>
    {{ end }}
  </div>
</main>
{{ end }}

{{ define "footer" }}
  {{ partial "single-footer.html" . }}
{{ end }}