{{ $myList := slice "atari" "stripe" }}
{{ $randomElement := index (shuffle $myList) 0 }}

{{ if .Get "type" }}
  {{ $randomElement = .Get "type" }}
{{ end }}

<div class="tw-text-primary tw-absolute tw-left-0">
  <div class="tw-absolute tw-left-0 tw-top-0 tw-opacity-25">
    {{ if (eq $randomElement "atari") }}
      <css-doodle>
        @grid: 1;
        @size: 100vw 100vh;
        background-size: 200px 200px;
        background-image: @doodle(
          @grid: 6 / 100%;
          @size: 4px;
          font-size: 4px;
          color: hsl(@r240, 30%, 50%);
          box-shadow: @m3x5(
            calc(4em - @nx*1em) @ny(*1em)
              @p(@m3(currentColor), @m2(#0000)),
            calc(2em + @nx*1em) @ny(*1em)
              @lp
          );
        );
      </css-doodle>
    {{ end }}
    {{ if (eq $randomElement "stripe") }}
      <css-doodle>
        @grid: 1;
        @size: 100vw 100vh;
        background: linear-gradient(
          @rand(360deg),
          @stripe(#F8B501, #60569e, #e6437d)
        )
      </css-doodle>
    {{ end }}
    {{ if (eq $randomElement "ripple") }}
      <style>
      :root {
        --doodle-ripple-filter: (
          filter: @svg-filter(<svg>
            <filter>
              <feTurbulence type="fractalNoise" baseFrequency=".02" numOctaves="1" />
              <feDisplacementMap in="SourceGraphic" scale="300" />
            </filter>
          </svg>);
        );
      }
      </style>
      <css-doodle>
        :doodle {
          @grid: 10;
          @size: 100vw 100vh;
          @use: var(--doodle-ripple-filter);
        }
        :container {
          animation: r 500s linear infinite;
        }
        @place: center;
        @size: 100% 2vmin;
        background: @pick-d(
          color-mix(in srgb, rgb(var(--primary)) 50%, black),
          color-mix(in srgb, rgb(var(--primary)) 70%, black),
          color-mix(in srgb, rgb(var(--primary)) 90%, black)
        );
        transform-origin: 5vmin center;
        transform:
          translateX(50%)
          rotate(calc(@i() * 360deg / @size()));

        @keyframes r {
          to { transform: rotate(1turn) }
        }
      </css-doodle>
    {{end }}
  </div>
  {{ .Inner }}
</div>
<div style="height: 100vh;"></div>

<div class="tw-text-center tw-mt-10">
  <a target="_blank" href="https://yuanchuan.dev/">Animation by Chuan</a>
</div>
