<!-- repl -->
{{- if (not (.Get "id")) }}
<b style="color: red">repl: id required</b>
{{- end }}

{{ if .Get "external" }}
<div class="tw-mt-4 tw-mb-4">
    <a class="tw-border-2 tw-rounded tw-border-primary tw-p-2 tw-inline-block" href="https://repl.it/{{ .Get "id" }}" target="_blank">
        Open <span class="repl__id"> {{ .Get "id" }} </span> in
        <img src="https://repl.it/public/images/logo-small.png" style="width: 83px; vertical-align: middle;
        margin-left: 11px; display: inline-block">
    </a>
</div>
{{ else }}
<div class="">
    <div class=""></div>
    <iframe
        class="lazy-load"
        title="repl demo"
        frameborder="0"
        width="100%"
        height="700px"
        data-src="https://repl.it/{{ .Get "id" }}?lite=true">
    </iframe>
</div>
{{ end }}
<!-- repl -->
