
<footer class="footer">
  <div id="browser-sunset"></div>

  <div class="container has-text-centered {{if isset . "isRoot"}}root{{end}}">
    <div class="columns is-centered">
      <div class="column is-half card box">
        {{ partial "profile" . }}
      </div>
    </div>
  </div>
</footer>

<!-- always included -->
{{ partial "lib/hypothesis.html" . }}
{{ partial "browser/browser-main.html" . }}
{{ partial "browser/browser-voronoi.html" . }}
{{ partial "browser/browser-sunset.html" . }}

{{ partial "lib/polyfill.html" . }}
{{ partial "lib/prism.html" . }}
{{ if isset .Params "nomath" }}
  {{ $s := true }}
{{ else }}
  {{ partial "lib/mathjax3.html" . }}
{{ end }}

<!-- selectively included -->
{{ if isset .Params "libraries" }}
  {{ range .Params.libraries }}
    {{ if eq . "d3" }} {{ partial "lib/d3.html" . }} {{ end }}
    {{ if eq . "function-plot" }} {{ partial "lib/function-plot.html" . }} {{ end }}
    {{ if eq . "greuler" }} {{ partial "lib/greuler.html" . }} {{ end }}
  {{ end }}
{{ end }}

