{{ if .IsHome }}
  {{ $.Scratch.Set "title" .Site.Title }}
  {{ if .Site.Params.subtitle }}{{ $.Scratch.Set "subtitle" .Site.Params.subtitle }}{{ end }}
  {{ if .Site.Params.bigimg }}{{ $.Scratch.Set "bigimg" .Site.Params.bigimg }}{{ end }}
{{ else }}
  {{ $.Scratch.Set "title" .Title }}
  {{ if .Params.subtitle }}{{ $.Scratch.Set "subtitle" .Params.subtitle }}{{ end }}
  {{ if .Params.bigimg }}{{ $.Scratch.Set "bigimg" .Params.bigimg }}{{ end }}
{{ end }}
{{ $bigimg := $.Scratch.Get "bigimg" }}

<section class="hero is-medium has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title is-1 is-spaced">{{ $.Scratch.Get "title" }}</h1>
      <p class="subtitle">{{ $.Scratch.Get "subtitle" }}</p>
      <p class="subtitle">{{ .Date.Format "Monday, January 2, 2006" }}</p>
    </div>
  </div>
</section>
