{{ partial "svg/defs.html" . }}
<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">

      <a class="navbar-item" href="/">
        <div>
          <div class="is-size-4" id="navbar-title">Mauricio Poppe</div>
        </div>
      </a>

      <div class="navbar-burger burger" data-target="navMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div class="navbar-menu" id="navMenu">
      <div class="navbar-start">
      </div>

      <div class="navbar-end">
        <a class="navbar-item"
          href="https://github.com/mauriciopoppe" target="noopener">
          <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
          Github
        </a>

        <a class="navbar-item"
          href="https://twitter.com/mauricio_poppe" target="noopener">
          <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
          Twitter
        </a>

        <a class="navbar-item"
          href="https://www.linkedin.com/in/mauriciopoppe" target="noopener">
          <svg class="icon icon-linkedin2"><use xlink:href="#icon-linkedin2"></use></svg>
          LinkedIn
        </a>
      </div>
    </div> <!-- navbar-menu-end -->

  </div>
</nav>
