
    <ul class="list-is-collapsible ">
      
    <li >
      <div>Computer Graphics</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>Pipeline</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/computer-graphics/pipeline/clipping.mmark">
      <div>
      <a href="/notes/computer-graphics/pipeline/clipping/">
        Clipping
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/pipeline/culling.mmark">
      <div>
      <a href="/notes/computer-graphics/pipeline/culling/">
        Culling
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li data-url-target="notes/computer-graphics/ray-tracing.mmark">
      <div>
      <a href="/notes/computer-graphics/ray-tracing/">
        Ray Tracing
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/rendering.mmark">
      <div>
      <a href="/notes/computer-graphics/rendering/">
        Rendering
      </a>
    </div>
      
    </li>
  
    <li >
      <div>Surface Shading</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/computer-graphics/surface-shading/diffuse-shading.mmark">
      <div>
      <a href="/notes/computer-graphics/surface-shading/diffuse-shading/">
        Diffuse shading
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/surface-shading/flat-shading.mmark">
      <div>
      <a href="/notes/computer-graphics/surface-shading/flat-shading/">
        Flat shading
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/surface-shading/gouraud-shading.mmark">
      <div>
      <a href="/notes/computer-graphics/surface-shading/gouraud-shading/">
        Gouraud shading
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/surface-shading/introduction.mmark">
      <div>
      <a href="/notes/computer-graphics/surface-shading/introduction/">
        Introduction
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/surface-shading/phong-shading.mmark">
      <div>
      <a href="/notes/computer-graphics/surface-shading/phong-shading/">
        Phong Shading
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/surface-shading/specular-shading.mmark">
      <div>
      <a href="/notes/computer-graphics/surface-shading/specular-shading/">
        Specular shading
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Transformation Matrices</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/computer-graphics/transformation-matrices/combining-transformations.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/combining-transformations/">
        Combining transformations
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/coordinate-system.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/coordinate-system/">
        Coordinate system
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/normals.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/normals/">
        Normals
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/orthographic-projection.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/orthographic-projection/">
        Orthographic projection
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/perspective-projection.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/perspective-projection/">
        Perspective projection
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/rotation.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/rotation/">
        Rotations
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/scale.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/scale/">
        Scale
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/shearing.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/shearing/">
        Shearing
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/transformation-matrix.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/transformation-matrix/">
        Transformation matrix
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/transformation-matrices/translation.mmark">
      <div>
      <a href="/notes/computer-graphics/transformation-matrices/translation/">
        Translation
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Viewing</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>Camera</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/computer-graphics/viewing/camera/first-person.mmark">
      <div>
      <a href="/notes/computer-graphics/viewing/camera/first-person/">
        First Person camera
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li data-url-target="notes/computer-graphics/viewing/projection-transform.mmark">
      <div>
      <a href="/notes/computer-graphics/viewing/projection-transform/">
        Projection transform
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/viewing/view-transform.mmark">
      <div>
      <a href="/notes/computer-graphics/viewing/view-transform/">
        View transform
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-graphics/viewing/viewport-transform.mmark">
      <div>
      <a href="/notes/computer-graphics/viewing/viewport-transform/">
        Viewport transform
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Computer Science</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>Programming Languages Theory</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/computer-science/programming-languages-theory/functional-programming.md">
      <div>
      <a href="/notes/computer-science/programming-languages-theory/functional-programming/">
        Functional Programming
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/computer-science/programming-languages-theory/introduction.md">
      <div>
      <a href="/notes/computer-science/programming-languages-theory/introduction/">
        Introduction
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Graphs</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/graphs/components.mmark">
      <div>
      <a href="/notes/graphs/components/">
        Components
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/graphs/cut-edges.mmark">
      <div>
      <a href="/notes/graphs/cut-edges/">
        Cut-edges (bridges)
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/graphs/cut-vertices.mmark">
      <div>
      <a href="/notes/graphs/cut-vertices/">
        Cut-vertices (articulation points)
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/graphs/introduction.mmark">
      <div>
      <a href="/notes/graphs/introduction/">
        Introduction
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/graphs/single-source-shortest-path.mmark">
      <div>
      <a href="/notes/graphs/single-source-shortest-path/">
        Single Source Shortest Path (SSSP)
      </a>
    </div>
      
    </li>
  
    <li >
      <div>Special</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/graphs/special/eulerian-graphs.mmark">
      <div>
      <a href="/notes/graphs/special/eulerian-graphs/">
        Eulerian Graph
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/graphs/special/hamiltonian_graphs.mmark">
      <div>
      <a href="/notes/graphs/special/hamiltonian_graphs/">
        Hamiltonian Graphs
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li data-url-target="notes/graphs/topological-sorting.mmark">
      <div>
      <a href="/notes/graphs/topological-sorting/">
        Topological sorting
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/graphs/traversal.mmark">
      <div>
      <a href="/notes/graphs/traversal/">
        Traversal
      </a>
    </div>
      
    </li>
  
    <li >
      <div>Tree</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/graphs/tree/introduction.mmark">
      <div>
      <a href="/notes/graphs/tree/introduction/">
        Introduction
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/graphs/tree/spanning-tree.mmark">
      <div>
      <a href="/notes/graphs/tree/spanning-tree/">
        Spanning Tree
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Math</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>Calculus</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/math/calculus/derivative.mmark">
      <div>
      <a href="/notes/math/calculus/derivative/">
        Derivative
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/calculus/integral.mmark">
      <div>
      <a href="/notes/math/calculus/integral/">
        Integral
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/calculus/introduction.mmark">
      <div>
      <a href="/notes/math/calculus/introduction/">
        Introduction
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/calculus/taylor-theorem-infinite-series.mmark">
      <div>
      <a href="/notes/math/calculus/taylor-theorem-infinite-series/">
        Taylor&#039;s Theorem and Infinite Series
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Geometry</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>Affine Geometry</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/math/geometry/affine-geometry/affine-space.mmark">
      <div>
      <a href="/notes/math/geometry/affine-geometry/affine-space/">
        Affine spaces
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/geometry/affine-geometry/affine-spaces.mmark">
      <div>
      <a href="/notes/math/geometry/affine-geometry/affine-spaces/">
        Affine space
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Euclidean Geometry</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/math/geometry/euclidean-geometry/geometric-tests.mmark">
      <div>
      <a href="/notes/math/geometry/euclidean-geometry/geometric-tests/">
        Geometric tests
      </a>
    </div>
      
    </li>
  
    <li >
      <div>Primitives</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/math/geometry/euclidean-geometry/primitives/triangle.mmark">
      <div>
      <a href="/notes/math/geometry/euclidean-geometry/primitives/triangle/">
        Triangle
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Projective Geometry</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/math/geometry/projective-geometry/projective-space.mmark">
      <div>
      <a href="/notes/math/geometry/projective-geometry/projective-space/">
        Projective space
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Linear Algebra</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/math/linear-algebra/eigenvalues.mmark">
      <div>
      <a href="/notes/math/linear-algebra/eigenvalues/">
        Eigenvalues
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/linear-algebra/vector-spaces.mmark">
      <div>
      <a href="/notes/math/linear-algebra/vector-spaces/">
        Vector spaces
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Number Theory</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/math/number-theory/binary-exponentiation.mmark">
      <div>
      <a href="/notes/math/number-theory/binary-exponentiation/">
        Binary Exponentiation
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/chinese-remainder-theorem.mmark">
      <div>
      <a href="/notes/math/number-theory/chinese-remainder-theorem/">
        Chinese Remainder Theorem
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/discrete-logarithm.mmark">
      <div>
      <a href="/notes/math/number-theory/discrete-logarithm/">
        Discrete Logarithm
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/divisibility.mmark">
      <div>
      <a href="/notes/math/number-theory/divisibility/">
        Divisibility
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/divisor-function.mmark">
      <div>
      <a href="/notes/math/number-theory/divisor-function/">
        Divisor Function
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/erathostenes-sieve.mmark">
      <div>
      <a href="/notes/math/number-theory/erathostenes-sieve/">
        Erathostenes Sieve
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/euclidean-algorithm.mmark">
      <div>
      <a href="/notes/math/number-theory/euclidean-algorithm/">
        Euclidean Algorithm
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/eulers-phi.mmark">
      <div>
      <a href="/notes/math/number-theory/eulers-phi/">
        Euler&#039;s phi function
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/extended-euclidean-algorithm.mmark">
      <div>
      <a href="/notes/math/number-theory/extended-euclidean-algorithm/">
        Extended Euclidean Algorithm
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/integer-factorization.mmark">
      <div>
      <a href="/notes/math/number-theory/integer-factorization/">
        Integer Factorization
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/modular-arithmetic.mmark">
      <div>
      <a href="/notes/math/number-theory/modular-arithmetic/">
        Modular Arithmetic
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/primality-test.mmark">
      <div>
      <a href="/notes/math/number-theory/primality-test/">
        Primality Test
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/prime-factors-factorial.mmark">
      <div>
      <a href="/notes/math/number-theory/prime-factors-factorial/">
        Prime factors of a factorial
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/number-theory/special-factorial-modulo-m.mmark">
      <div>
      <a href="/notes/math/number-theory/special-factorial-modulo-m/">
        Special factorial modulo p
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Numeral Systems</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/math/numeral-systems/complex-numbers.mmark">
      <div>
      <a href="/notes/math/numeral-systems/complex-numbers/">
        Complex numbers
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/math/numeral-systems/quaternions.mmark">
      <div>
      <a href="/notes/math/numeral-systems/quaternions/">
        Quaternions
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Os</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>Bin</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/os/bin/cmake.mmark">
      <div>
      <a href="/notes/os/bin/cmake/">
        CMake
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/os/bin/gcc.mmark">
      <div>
      <a href="/notes/os/bin/gcc/">
        gcc
      </a>
    </div>
      
    </li>
  
    <li data-url-target="notes/os/bin/make.mmark">
      <div>
      <a href="/notes/os/bin/make/">
        make
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    <li >
      <div>Programming Languages</div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li data-url-target="notes/programming-languages/cpp-refresher.mmark">
      <div>
      <a href="/notes/programming-languages/cpp-refresher/">
        C++ refresher
      </a>
    </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  