
    <ul class="list-is-collapsible ">
      
    <li >
      <div>
        <i class="children-toggle"></i>
        Computer-Graphics
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-graphics/rendering.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/rendering/">
        Rendering
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/ray-tracing.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/ray-tracing/">
        Ray Tracing
      </a>
    
      </div>
      
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Pipeline
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-graphics/pipeline/clipping.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/pipeline/clipping/">
        Clipping
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/pipeline/culling.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/pipeline/culling/">
        Culling
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Surface-Shading
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-graphics/surface-shading/introduction.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/diffuse-shading.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/diffuse-shading/">
        Diffuse shading
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/specular-shading.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/specular-shading/">
        Specular shading
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/flat-shading.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/flat-shading/">
        Flat shading
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/gouraud-shading.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/gouraud-shading/">
        Gouraud shading
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/phong-shading.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/phong-shading/">
        Phong-Shading
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Transformation-Matrices
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/coordinate-systems.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/coordinate-systems/">
        Coordinate systems
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/transformation-matrix.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/transformation-matrix/">
        Transformation matrix
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/scale.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/scale/">
        Scale
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/shearing.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/shearing/">
        Shearing
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/translation.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/translation/">
        Translation
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/combining-transformations.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/combining-transformations/">
        Combining transformations
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/normals.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/normals/">
        Normals
      </a>
    
      </div>
      
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Projections
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/projections/orthographic.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/projections/orthographic/">
        Orthographic projection
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/projections/perspective.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/projections/perspective/">
        Perspective projection
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Rotation
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/rotation/introduction.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/rotation/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/rotation/euler-angles.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/rotation/euler-angles/">
        Euler angles
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/rotation/quaternions.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/rotation/quaternions/">
        Quaternions
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Viewing
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-graphics/viewing/view-transform.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/viewing/view-transform/">
        View transform
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/viewing/projection-transform.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/viewing/projection-transform/">
        Projection transform
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/viewing/viewport-transform.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/viewing/viewport-transform/">
        Viewport transform
      </a>
    
      </div>
      
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Camera
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-graphics/viewing/camera/first-person.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/viewing/camera/first-person/">
        First Person camera
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Computer-Science
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>
        <i class="children-toggle"></i>
        Algorithms
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>
        <i class="children-toggle"></i>
        Graphs
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-science/algorithms/graphs/introduction.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/traversal.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/traversal/">
        Traversal
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/topological-sorting.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/topological-sorting/">
        Topological sorting
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/cut-edges.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/cut-edges/">
        Cut-edges (bridges)
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/cut-vertices.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/cut-vertices/">
        Cut-vertices (articulation points)
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/components.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/components/">
        Components
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/single-source-shortest-path.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/single-source-shortest-path/">
        Single Source Shortest Path (SSSP)
      </a>
    
      </div>
      
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Special
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-science/algorithms/graphs/special/eulerian-graphs.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/special/eulerian-graphs/">
        Eulerian Graph
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/special/hamiltonian_graphs.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/special/hamiltonian_graphs/">
        Hamiltonian Graphs
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Tree
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-science/algorithms/graphs/tree/spanning-tree.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/tree/spanning-tree/">
        Spanning Tree
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/tree/introduction.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/tree/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Computation
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-science/computation/promises.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/computation/promises/">
        Promises
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Data-Structures
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>
        <i class="children-toggle"></i>
        Hash-Tables
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-science/data-structures/hash-tables/consistent-hashing.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/data-structures/hash-tables/consistent-hashing/">
        Consistent hashing
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        System-Design
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/computer-science/system-design/reliability-scalability.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/system-design/reliability-scalability/">
        Reliability and Scalability
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/system-design/partitioning.mmark"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/system-design/partitioning/">
        Partitioning
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Mathematics
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>
        <i class="children-toggle"></i>
        Calculus
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/mathematics/calculus/introduction.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/calculus/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/calculus/derivative.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/calculus/derivative/">
        Derivative
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/calculus/integral.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/calculus/integral/">
        Integral
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/calculus/taylor-theorem-infinite-series.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/calculus/taylor-theorem-infinite-series/">
        Taylor's Theorem and Infinite Series
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Geometry
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>
        <i class="children-toggle"></i>
        Affine-Geometry
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/mathematics/geometry/affine-geometry/affine-spaces.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/geometry/affine-geometry/affine-spaces/">
        Affine spaces
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Euclidean-Geometry
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/mathematics/geometry/euclidean-geometry/geometric-tests.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/geometry/euclidean-geometry/geometric-tests/">
        Geometric tests
      </a>
    
      </div>
      
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Primitives
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/mathematics/geometry/euclidean-geometry/primitives/triangle.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/geometry/euclidean-geometry/primitives/triangle/">
        Triangle
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Projective-Geometry
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/mathematics/geometry/projective-geometry/projective-space.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/geometry/projective-geometry/projective-space/">
        Projective space
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Linear-Algebra
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/mathematics/linear-algebra/eigenvalues.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/linear-algebra/eigenvalues/">
        Eigenvalues
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/linear-algebra/vector-spaces.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/linear-algebra/vector-spaces/">
        Vector spaces
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Number-Theory
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/mathematics/number-theory/eulers-phi.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/eulers-phi/">
        Euler's phi function
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/binary-exponentiation.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/binary-exponentiation/">
        Binary Exponentiation
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/erathostenes-sieve.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/erathostenes-sieve/">
        Erathostenes Sieve
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/euclidean-algorithm.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/euclidean-algorithm/">
        Euclidean Algorithm
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/extended-euclidean-algorithm.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/extended-euclidean-algorithm/">
        Extended Euclidean Algorithm
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/modular-arithmetic.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/modular-arithmetic/">
        Modular Arithmetic
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/chinese-remainder-theorem.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/chinese-remainder-theorem/">
        Chinese Remainder Theorem
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/discrete-logarithm.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/discrete-logarithm/">
        Discrete Logarithm
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/prime-factors-factorial.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/prime-factors-factorial/">
        Prime factors of a factorial
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/special-factorial-modulo-m.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/special-factorial-modulo-m/">
        Special factorial modulo p
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/primality-test.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/primality-test/">
        Primality Test
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/divisor-function.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/divisor-function/">
        Divisor Function
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/integer-factorization.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/integer-factorization/">
        Integer Factorization
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/divisibility.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/divisibility/">
        Divisibility
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Numeral-Systems
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/mathematics/numeral-systems/complex-numbers.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/numeral-systems/complex-numbers/">
        Complex numbers
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/numeral-systems/quaternions.mmark"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/numeral-systems/quaternions/">
        Quaternions
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Os
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>
        <i class="children-toggle"></i>
        Bin
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/os/bin/cmake.mmark"
      
    >
      <div>
        
        
      <a href="/notes/os/bin/cmake/">
        CMake
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/os/bin/make.mmark"
      
    >
      <div>
        
        
      <a href="/notes/os/bin/make/">
        make
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/os/bin/gcc.mmark"
      
    >
      <div>
        
        
      <a href="/notes/os/bin/gcc/">
        gcc
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li >
      <div>
        <i class="children-toggle"></i>
        Programming
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li >
      <div>
        <i class="children-toggle"></i>
        Programming-Languages
      </div>
      
    <ul class="list-is-collapsible list-is-collapsed">
      
    <li 
      data-url-target="notes/programming/programming-languages/cpp-refresher.mmark"
      
    >
      <div>
        
        
      <a href="/notes/programming/programming-languages/cpp-refresher/">
        C++ refresher
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  