
    <ul class="list-is-collapsible ">
      
    <li 
      data-full-path="notes/computer-graphics"
    >
      <div>
        <i class="children-toggle"></i>
        Computer Graphics
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-graphics/rendering.md"
      data-url-date="Fri Feb 26 2016 08:59:48 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/rendering/">
        Rendering
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/ray-tracing.md"
      data-url-date="Fri Feb 26 2016 09:03:44 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/ray-tracing/">
        Ray Tracing
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-full-path="notes/computer-graphics/pipeline"
    >
      <div>
        <i class="children-toggle"></i>
        Pipeline
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-graphics/pipeline/clipping.md"
      data-url-date="Wed Mar 16 2016 04:03:05 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/pipeline/clipping/">
        Clipping
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/pipeline/culling.md"
      data-url-date="Wed Mar 16 2016 08:28:46 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/pipeline/culling/">
        Culling
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-graphics/surface-shading"
    >
      <div>
        <i class="children-toggle"></i>
        Surface Shading
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-graphics/surface-shading/introduction.md"
      data-url-date="Fri Jun 03 2016 06:46:07 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/diffuse-shading.md"
      data-url-date="Fri Jun 03 2016 07:49:37 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/diffuse-shading/">
        Diffuse Shading
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/specular-shading.md"
      data-url-date="Fri Jun 03 2016 14:36:51 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/specular-shading/">
        Specular Shading
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/flat-shading.md"
      data-url-date="Thu Jun 09 2016 05:39:53 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/flat-shading/">
        Flat Shading
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/gouraud-shading.md"
      data-url-date="Thu Jun 09 2016 13:24:20 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/gouraud-shading/">
        Gouraud Shading
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/shapes.md"
      data-url-date="Sat Sep 16 2017 10:52:35 GMT-0700 (Pacific Daylight Time)"
      data-draft="true"
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/shapes/">
        Shapes
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/surface-shading/phong-shading.md"
      
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/surface-shading/phong-shading/">
        Phong Shading
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-graphics/transformation-matrices"
    >
      <div>
        <i class="children-toggle"></i>
        Transformation Matrices
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/coordinate-systems.md"
      data-url-date="Thu Oct 15 2015 05:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/coordinate-systems/">
        Coordinate Systems
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/transformation-matrix.md"
      data-url-date="Thu Oct 15 2015 06:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/transformation-matrix/">
        Transformation Matrix
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/scale.md"
      data-url-date="Tue Oct 20 2015 06:30:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/scale/">
        Scale
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/shearing.md"
      data-url-date="Fri Feb 05 2016 02:00:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/shearing/">
        Shearing
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/translation.md"
      data-url-date="Fri Feb 05 2016 10:00:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/translation/">
        Translation
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/combining-transformations.md"
      data-url-date="Wed Feb 10 2016 13:13:17 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/combining-transformations/">
        Combining Transformations
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/normals.md"
      data-url-date="Tue Mar 08 2016 06:18:11 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/normals/">
        Normals
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-full-path="notes/computer-graphics/transformation-matrices/projections"
    >
      <div>
        <i class="children-toggle"></i>
        Projections
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/projections/orthographic.md"
      data-url-date="Fri Feb 05 2016 15:15:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/projections/orthographic/">
        Orthographic Projection
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/projections/perspective.md"
      data-url-date="Sat Feb 06 2016 10:00:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/projections/perspective/">
        Perspective Projection
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-graphics/transformation-matrices/rotation"
    >
      <div>
        <i class="children-toggle"></i>
        Rotation
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/rotation/introduction.md"
      data-url-date="Tue Dec 15 2015 05:00:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/rotation/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/rotation/euler-angles.md"
      data-url-date="Fri Feb 05 2016 05:00:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/rotation/euler-angles/">
        Euler Angles
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/transformation-matrices/rotation/quaternions.md"
      data-url-date="Tue Apr 26 2016 09:39:27 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/transformation-matrices/rotation/quaternions/">
        Quaternions
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-graphics/viewing"
    >
      <div>
        <i class="children-toggle"></i>
        Viewing
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-graphics/viewing/view-transform.md"
      data-url-date="Sat Feb 13 2016 03:59:56 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/viewing/view-transform/">
        View Transform
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/viewing/projection-transform.md"
      data-url-date="Sun Feb 14 2016 04:18:26 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/viewing/projection-transform/">
        Projection Transform
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-graphics/viewing/viewport-transform.md"
      data-url-date="Tue Mar 08 2016 14:20:58 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/viewing/viewport-transform/">
        Viewport Transform
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-full-path="notes/computer-graphics/viewing/camera"
    >
      <div>
        <i class="children-toggle"></i>
        Camera
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-graphics/viewing/camera/first-person.md"
      data-url-date="Fri Apr 29 2016 15:10:40 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-graphics/viewing/camera/first-person/">
        First Person Camera
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-science"
    >
      <div>
        <i class="children-toggle"></i>
        Computer Science
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-full-path="notes/computer-science/algorithms"
    >
      <div>
        <i class="children-toggle"></i>
        Algorithms
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-full-path="notes/computer-science/algorithms/graphs"
    >
      <div>
        <i class="children-toggle"></i>
        Graphs
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/algorithms/graphs/introduction.md"
      data-url-date="Mon Jun 22 2015 10:03:41 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/traversal.md"
      data-url-date="Wed Jun 24 2015 04:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/traversal/">
        Traversal
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/topological-sorting.md"
      data-url-date="Wed Jun 24 2015 04:30:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/topological-sorting/">
        Topological Sorting
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/cut-edges.md"
      data-url-date="Wed Jun 24 2015 07:51:12 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/cut-edges/">
        Cut Edges (Bridges)
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/cut-vertices.md"
      data-url-date="Wed Jun 24 2015 08:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/cut-vertices/">
        Cut Vertices (Articulation Points)
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/components.md"
      data-url-date="Thu Jun 25 2015 08:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/components/">
        Components
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/single-source-shortest-path.md"
      data-url-date="Fri Jul 03 2015 06:21:32 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/single-source-shortest-path/">
        Single Source Shortest Path (SSSP)
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-full-path="notes/computer-science/algorithms/graphs/special"
    >
      <div>
        <i class="children-toggle"></i>
        Special
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/algorithms/graphs/special/eulerian-graphs.md"
      data-url-date="Sun Jul 05 2015 08:22:15 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/special/eulerian-graphs/">
        Eulerian Graph
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/special/hamiltonian_graphs.md"
      data-url-date="Tue Jul 07 2015 12:30:51 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/special/hamiltonian_graphs/">
        Hamiltonian Graphs
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-science/algorithms/graphs/tree"
    >
      <div>
        <i class="children-toggle"></i>
        Tree
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/algorithms/graphs/tree/spanning-tree.md"
      data-url-date="Wed Jun 24 2015 11:31:59 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/tree/spanning-tree/">
        Spanning Tree
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/algorithms/graphs/tree/introduction.md"
      data-url-date="Tue Jun 30 2015 08:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/algorithms/graphs/tree/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-science/computation"
    >
      <div>
        <i class="children-toggle"></i>
        Computation
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/computation/promises.md"
      data-url-date="Sat Sep 16 2017 14:05:42 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/computation/promises/">
        Promises
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-science/data-structures"
    >
      <div>
        <i class="children-toggle"></i>
        Data Structures
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/data-structures/consistent-hashing.md"
      data-url-date="Sat Sep 16 2017 14:05:42 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/data-structures/consistent-hashing/">
        Consistent Hashing
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/data-structures/memtable-sstable.md"
      data-url-date="Sat Feb 29 2020 07:04:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/data-structures/memtable-sstable/">
        Memtable & SSTable (Sorted String Table)
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-science/programming-languages-theory"
    >
      <div>
        <i class="children-toggle"></i>
        Programming Languages Theory
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/programming-languages-theory/introduction.md"
      data-url-date="Sun May 21 2017 00:05:17 GMT-0700 (Pacific Daylight Time)"
      data-draft="true"
    >
      <div>
        
        
      <a href="/notes/computer-science/programming-languages-theory/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-science/system-design"
    >
      <div>
        <i class="children-toggle"></i>
        System Design
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/system-design/reliability-scalability.md"
      data-url-date="Mon Jan 01 2018 18:14:56 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/system-design/reliability-scalability/">
        Reliability and Scalability
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/computer-science/system-design/partitioning.md"
      data-url-date="Mon Jan 08 2018 14:43:20 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/system-design/partitioning/">
        Partitioning
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-full-path="notes/computer-science/system-design/databases"
    >
      <div>
        <i class="children-toggle"></i>
        Databases
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/system-design/databases/cassandra.md"
      data-url-date="Fri Feb 28 2020 12:47:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/system-design/databases/cassandra/">
        Cassandra
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/computer-science/system-design/streaming"
    >
      <div>
        <i class="children-toggle"></i>
        Streaming
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/computer-science/system-design/streaming/kafka.md"
      data-url-date="Sat Feb 29 2020 07:36:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/computer-science/system-design/streaming/kafka/">
        Kafka
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/mathematics"
    >
      <div>
        <i class="children-toggle"></i>
        Mathematics
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-full-path="notes/mathematics/calculus"
    >
      <div>
        <i class="children-toggle"></i>
        Calculus
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/calculus/introduction.md"
      data-url-date="Tue Mar 31 2015 08:35:06 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/calculus/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/calculus/taylor-theorem-infinite-series.md"
      data-url-date="Thu Apr 02 2015 03:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/calculus/taylor-theorem-infinite-series/">
        Taylor's Theorem and Infinite Series
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/calculus/integral.md"
      data-url-date="Thu Apr 02 2015 03:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/calculus/integral/">
        Integral
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/calculus/derivative.md"
      data-url-date="Thu Apr 02 2015 03:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/calculus/derivative/">
        Derivative
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/mathematics/geometry"
    >
      <div>
        <i class="children-toggle"></i>
        Geometry
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-full-path="notes/mathematics/geometry/affine-geometry"
    >
      <div>
        <i class="children-toggle"></i>
        Affine Geometry
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/geometry/affine-geometry/affine-spaces.md"
      data-url-date="Tue Mar 15 2016 05:19:52 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/geometry/affine-geometry/affine-spaces/">
        Affine Spaces
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/mathematics/geometry/euclidean-geometry"
    >
      <div>
        <i class="children-toggle"></i>
        Euclidean Geometry
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/geometry/euclidean-geometry/geometric-tests.md"
      data-url-date="Wed Mar 09 2016 14:52:35 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/geometry/euclidean-geometry/geometric-tests/">
        Geometric Tests
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-full-path="notes/mathematics/geometry/euclidean-geometry/primitives"
    >
      <div>
        <i class="children-toggle"></i>
        Primitives
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/geometry/euclidean-geometry/primitives/triangle.md"
      data-url-date="Thu Mar 10 2016 15:17:08 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/geometry/euclidean-geometry/primitives/triangle/">
        Triangle
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/mathematics/geometry/projective-geometry"
    >
      <div>
        <i class="children-toggle"></i>
        Projective Geometry
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/geometry/projective-geometry/projective-space.md"
      data-url-date="Fri Mar 04 2016 02:00:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/geometry/projective-geometry/projective-space/">
        Projective Space
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/mathematics/linear-algebra"
    >
      <div>
        <i class="children-toggle"></i>
        Linear Algebra
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/linear-algebra/eigenvalues.md"
      data-url-date="Mon Mar 07 2016 04:50:15 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/linear-algebra/eigenvalues/">
        Eigenvalues
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/linear-algebra/vector-spaces.md"
      data-url-date="Mon Mar 14 2016 10:07:51 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/linear-algebra/vector-spaces/">
        Vector Spaces
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/mathematics/number-theory"
    >
      <div>
        <i class="children-toggle"></i>
        Number Theory
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/number-theory/eulers-phi.md"
      data-url-date="Sun May 31 2015 17:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/eulers-phi/">
        Euler's Phi Function
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/binary-exponentiation.md"
      data-url-date="Mon Jun 01 2015 05:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/binary-exponentiation/">
        Binary Exponentiation
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/euclidean-algorithm.md"
      data-url-date="Mon Jun 01 2015 05:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/euclidean-algorithm/">
        Euclidean Algorithm
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/erathostenes-sieve.md"
      data-url-date="Mon Jun 01 2015 05:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/erathostenes-sieve/">
        Erathostenes Sieve
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/extended-euclidean-algorithm.md"
      data-url-date="Tue Jun 02 2015 05:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/extended-euclidean-algorithm/">
        Extended Euclidean Algorithm
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/modular-arithmetic.md"
      data-url-date="Thu Jun 04 2015 09:29:18 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/modular-arithmetic/">
        Modular Arithmetic
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/chinese-remainder-theorem.md"
      data-url-date="Fri Jun 05 2015 05:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/chinese-remainder-theorem/">
        Chinese Remainder Theorem
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/discrete-logarithm.md"
      data-url-date="Mon Jun 08 2015 05:11:38 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/discrete-logarithm/">
        Discrete Logarithm
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/special-factorial-modulo-m.md"
      data-url-date="Tue Jun 09 2015 07:00:03 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/special-factorial-modulo-m/">
        Special Factorial Modulo P
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/prime-factors-factorial.md"
      data-url-date="Tue Jun 09 2015 07:00:03 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/prime-factors-factorial/">
        Prime Factors of a Factorial
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/primality-test.md"
      data-url-date="Thu Jun 11 2015 06:16:59 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/primality-test/">
        Primality Test
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/divisor-function.md"
      data-url-date="Sat Jun 13 2015 07:29:59 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/divisor-function/">
        Divisor Function
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/integer-factorization.md"
      data-url-date="Sun Jun 14 2015 08:08:08 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/integer-factorization/">
        Integer Factorization
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/number-theory/divisibility.md"
      data-url-date="Sun May 21 2017 23:18:42 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/number-theory/divisibility/">
        Divisibility
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/mathematics/numeral-systems"
    >
      <div>
        <i class="children-toggle"></i>
        Numeral Systems
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/numeral-systems/complex-numbers.md"
      data-url-date="Tue Sep 08 2015 06:30:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/numeral-systems/complex-numbers/">
        Complex Numbers
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/numeral-systems/quaternions.md"
      data-url-date="Tue Sep 08 2015 13:00:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/numeral-systems/quaternions/">
        Quaternions
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/mathematics/probability"
    >
      <div>
        <i class="children-toggle"></i>
        Probability
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/mathematics/probability/introduction.md"
      data-url-date="Thu Mar 05 2020 10:00:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/probability/introduction/">
        Introduction
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/mathematics/probability/bayesian-networks.md"
      data-url-date="Thu Mar 05 2020 10:11:00 GMT-0800 (Pacific Standard Time)"
      
    >
      <div>
        
        
      <a href="/notes/mathematics/probability/bayesian-networks/">
        Bayesian Networks
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/misc"
    >
      <div>
        <i class="children-toggle"></i>
        Misc
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/misc/toefl.md"
      data-url-date="Sun Jul 31 2016 12:20:52 GMT-0700 (Pacific Daylight Time)"
      data-draft="true"
    >
      <div>
        
        
      <a href="/notes/misc/toefl/">
        TOEFL Preparation Test
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/os"
    >
      <div>
        <i class="children-toggle"></i>
        Os
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-full-path="notes/os/bin"
    >
      <div>
        <i class="children-toggle"></i>
        Bin
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/os/bin/cmake.md"
      data-url-date="Thu Mar 31 2016 12:31:37 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/os/bin/cmake/">
        CMake
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/os/bin/make.md"
      data-url-date="Thu Mar 31 2016 12:34:48 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/os/bin/make/">
        Make
      </a>
    
      </div>
      
    </li>
  

    <li 
      data-url-target="notes/os/bin/gcc.md"
      data-url-date="Tue Apr 05 2016 10:56:08 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/os/bin/gcc/">
        Gcc
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  

    <li 
      data-full-path="notes/programming"
    >
      <div>
        <i class="children-toggle"></i>
        Programming
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-full-path="notes/programming/programming-languages"
    >
      <div>
        <i class="children-toggle"></i>
        Programming Languages
      </div>
      
    <ul class="list-is-collapsible {{ .Scratch.Get "collapsed" }}">
      
    <li 
      data-url-target="notes/programming/programming-languages/cpp-refresher.md"
      data-url-date="Sat Mar 26 2016 05:30:00 GMT-0700 (Pacific Daylight Time)"
      
    >
      <div>
        
        
      <a href="/notes/programming/programming-languages/cpp-refresher/">
        C++ Refresher
      </a>
    
      </div>
      
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  
    </li>
  
    </ul>
  