{{ define "nav" }}
<!-- {{ partial "nav.html" . }} -->
{{ end }}

{{ define "main" }}
{{ partial "svg/defs.html" . }}
<section class="hero is-fullheight">
  <div class="hero-body">
    {{ $isRoot := true }}
    {{ partial "profile" (dict "Site" .Site "isRoot" $isRoot) }}

    {{ range where .Site.Pages "Section" "blog" }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <br />
        <span class="date">{{ .Date.Format "Mon, Jan 2, 2006" }}</span>
      </li>
    {{ end }}
  </div>
</section>
{{ end }}

{{ define "footer" }}
{{ end }}
