{{ define "nav" }}
{{ end }}

{{ define "main" }}
{{ partial "svg/defs.html" . }}
<section class="hero is-fullheight is-index">
  <div class="hero-body container ">
    <div class="columns is-centered card box">
      <div class="column has-text-right">
        {{ partial "profile" . }}
      </div>
      <div class="column" style="overflow: scroll; opacity: 1">
        {{ partial "sitemap.html" . }}
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "footer" }}
  {{ partial "browser/browser-main.html" . }}
{{ end }}
