<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">

<!-- Site Title, Description, Author, and Favicon -->
{{- with .Title | default .Site.Title }}
<title>{{ . }} | {{ $.Site.Params.Author.name }}</title>
<meta property="og:title" content="{{ . }}" />
<meta name="twitter:title" content="{{ . | truncate 70 }}" />
{{- end }}
{{- with .Params.description | default .Summary }}
<meta name="description" content="{{ . }}">
<meta property="og:description" content="{{ . }}">
<meta name="twitter:description" content="{{ . | truncate 200 }}">
{{- end }}
<meta name="author" content="{{ .Site.Params.Author.name }}"/>
{{- with .Site.Params.favicon }}
<link href='{{ . | absURL }}' rel='icon' type='image/x-icon'/>
{{- end -}}

<!-- Social Media Tags -->
{{- with .Params.share_img | default .Params.image | default .Site.Params.logo }}
<meta property="og:image" content="{{ . | absURL }}" />
<meta name="twitter:image" content="{{ . | absURL }}" />
{{- end }}
<meta name="twitter:card" content="summary" />
{{- with .Site.Params.Author.twitter }}
<meta name="twitter:site" content="@{{ . }}" />
<meta name="twitter:creator" content="@{{ . }}" />
{{- end }}
{{- with .Site.Params.fb_app_id }}
<meta property="fb:app_id" content="{{ . }}" />
{{- end }}
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />

<!--additional meta tags-->
<meta http-equiv="last-modified" content='{{ .Page.Lastmod.Format "Monday, January 2, 2006" }}' />
<meta http-equiv="date" content='{{ .Date.Format "Monday, January 2, 2006" }}' />

{{ .Scratch.Set "permalink" (.Permalink | absURL)  }}
{{ $author :=  or (.Params.author) (.Site.Params.Author.name) }}
{{ $org_name :=  .Site.Title }}
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        "@id": "{{ .Permalink | absLangURL }}",
        "articleSection": "{{ .Section }}",
        "name": "{{ .Title | safeJS }}",
        "headline": "{{ .Title | safeJS }}",
        "alternativeHeadline": "{{ .Params.lead }}",
        "description": {{ .Params.description | default .Summary }},
        "inLanguage": {{ .Site.LanguageCode | default "en-us" }},
        "isFamilyFriendly": "true",
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "{{ .Permalink | absLangURL }}"
        },
        "author" : {
            "@type": "Person",
            "name": "{{ $author }}",
            "url": "{{ .Site.BaseURL }}"
        },
        "creator" : {
            "@type": "Person",
            "name": "{{ $author }}"
        },
        "accountablePerson" : {
            "@type": "Person",
            "name": "{{ $author }}"
        },
        "image": {{ if .Params.image }}[{{ .Params.image | absURL }}]{{ else}}{{.Site.Params.logo | absURL }}{{ end }},
        "url" : "{{ .Permalink }}",
        "wordCount" : "{{ .WordCount }}",
        "dateCreated": "{{ .Date.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
        "datePublished": "{{ .PublishDate.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
        "dateModified": "{{ .Lastmod.Format "2006-01-02T15:04:05.00Z" | safeHTML }}",
        "keywords" : [ {{ range $index, $tag := .Params.tags }}{{ if $index }}, {{ end }}"{{ $tag }}" {{ end }}],
        "copyrightHolder" : "{{ $org_name }}",
        "copyrightYear" : "{{ .Date.Format "2006" }}",
        "publisher":{
            "@type":"Organization",
            "name": {{ $org_name }},
            "url": {{ .Site.BaseURL }},
            "logo": {
                "@type": "ImageObject",
                "url": "{{ .Site.Params.logo | absURL }}",
                "width":"32",
                "height":"32"
            }
        }
    }
</script>

<!-- Hugo Version number -->
{{ hugo.Generator -}}

<!-- Links and stylesheets -->
<link rel="canonical" href="{{ .Permalink | absLangURL }}" />
<link rel="alternate" href='{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}'>

<!-- Font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;1,400;1,600&family=Lato:wght@300;400&family=Ultra&display=swap" />

<!-- Icons -->
<link rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=3d_rotation,close,co_present,code,contact_page,dark_mode,data_array,data_object,deployed_code_history,docs,edit_note,edit_square,falling,function,globe,graph_5,grid_on,inventory,language_japanese_kana,laptop_car,light_mode,music_note,nightlife,note_alt,rss_feed,search,share&display=block" />

<!-- Font for icons -->
<style>
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40
}
</style>

<!--

My styles

The following is an optimization from lighthouse to inline the css in production:
- run webpack
- copy webpack assets from dist to site/assets (reason: resource.Get is relative to site/assets) using an npm script
- run hugo, when it runs it'll read the css file from site/assets and inline it
-->
{{ $stylesheet := .Site.Data.webpackAssets.main }}
{{ if hugo.IsProduction }}
    {{ with resources.Get $stylesheet.css }}
        <style>{{ .Content | safeCSS }}</style>
    {{ end }}
{{ else }}
    {{ with $stylesheet.css }}
        <link href="{{ relURL . }}" rel="stylesheet">
    {{ end }}
{{ end }}

<!-- inline script with critical functions -->
<script>
(function () {
  const myBlog = {
    // isMobile smoke tests if we're running in a browser.
    isMobile() {
      const toMatch = [/Android/i, /webOS/i, /iPhone/i, /iPad/i, /iPod/i, /BlackBerry/i, /Windows Phone/i]
      return toMatch.some((toMatchItem) => {
        return navigator.userAgent.match(toMatchItem)
      })
    },

    // onDocumentReady runs `fn` when the document is ready.
    onDocumentReady(fn) {
      if (document.readyState === 'complete' || document.readyState === 'interactive') {
        fn()
      } else {
        document.addEventListener('DOMContentLoaded', fn)
      }
    },

    // doOnce returns a function that runs `fn` only once even if
    // the returned function is called multiple times.
    doOnce(fn) {
      let didRun = false
      return function () {
        if (didRun) {
          return
        }
        fn()
        didRun = true
      }
    },
  }
  myBlog.theme = {
    // setTheme sets the theme on the webpage
    setTheme(theme) {
      document.documentElement.classList.remove('tw-light', 'tw-dark')
      if (theme == "dark" || theme == "light") {
        document.documentElement.dataset.theme = theme
        document.documentElement.classList.add(`tw-${theme}`)
        return
      }
      console.error(`Attempted to set an invalid theme=${theme}`)
    },

    setThemeFromLocalStorage() {
      let theme = localStorage.getItem('theme')
      if (theme == null || theme == "undefined" /* yes string "undefined" */) {
        theme = "dark"
      }
      this.setTheme(theme)
    },

    onLoad() {
      const toggles = document.querySelectorAll('.theme-toggle')
      toggles.forEach((toggle) => {
        toggle.addEventListener('click', () => {
          localStorage.setItem('theme', toggle.dataset.nexttheme)
          this.setThemeFromLocalStorage()
        })
      })
    }
  }
  // Remember not to change this! The main script depends on it and uses it when there's a pjax load.
  window.myBlog = myBlog

  {{/* Only set the theme on the content page and not in the home page. */}}
  {{ if not .IsHome }}
    myBlog.theme.setThemeFromLocalStorage()
  {{ end }}

  // Toggle theme
  myBlog.onDocumentReady(() => myBlog.theme.onLoad())
})()
</script>

<!-- gtag function (will be overridden by the injected script in netlify),
    it's here so that I can have the gtag function) -->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
</script>

{{ if hugo.IsProduction }}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-GDV87S5P27"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-GDV87S5P27');
</script>
{{ end }}

<!-- Load libraries dynamically based with a <script type="importmap"> -->
{{ $libraryImports := dict }}
{{ if (isset .Params "libraries") }}
  {{ range .Params.libraries }}
    {{ if eq . "threejs" }}
      {{ $libraryImports = merge $libraryImports (dict "three" "https://cdn.jsdelivr.net/npm/three@0.165.0/build/three.module.js")}}
      {{ $libraryImports = merge $libraryImports (dict "three/addons/" "https://cdn.jsdelivr.net/npm/three@0.165.0/examples/jsm/")}}
    {{ end }}
  {{ end }}
{{ end }}
{{ if isset .Params "libraries" }}
<script type="importmap">
{
  "imports": {{ $libraryImports | jsonify }}
}
</script>
{{ end }}

<!-- code highlight -->
{{ partial "lib/prism.html" . }}

<!--
  Webpack HMR runtime (https://github.com/webpack/webpack-dev-server/issues/2792)

  Fix so that common code among all the js libraries is shared in a single file
  before all of them start.
-->
{{ partial "scripts/webpack-runtime.html" . }}

<!-- libraries that are selectively included depending on whether the post wants it -->
{{ if isset .Params "libraries" }}
  {{ range .Params.libraries }}
    {{ if eq . "function-plot" }} {{ partial "lib/function-plot.html" . }} {{ end }}
    {{ if eq . "greuler" }} {{ partial "lib/greuler.html" . }} {{ end }}
    {{ if eq . "math" }} {{ partial "lib/mathjax3.html" . }} {{ end }}
    {{ if eq . "doodle" }} {{ partial "lib/doodle.html" . }} {{ end }}
  {{ end }}
{{ end }}

