<div class="tw-flex tw-flex-col tw-gap-2 md:tw-items-end">
  <div class="tw-flex tw-flex-col-reverse md:tw-flex-row md:tw-gap-4 tw-items-center md:tw-items-end">
    <div class="tw-flex tw-flex-col tw-items-center md:tw-items-end">
      <h1 class="tw-text-3xl md:tw-text-4xl tw-font-bold tw-text-primary">Mauricio Poppe</h1>
      <div class="tw-text-lg">Software Engineer</div>
    </div>
    <img src="/images/2025-guitar.jpg" alt="Mauricio Poppe" class="tw-w-16 tw-h-16 tw-rounded-full tw-object-cover" />
  </div>

  <div class="tw-mt-4">
    <h2 class="tw-text-xs tw-uppercase tw-tracking-widest tw-mb-2">About</h2>
    <p class="tw-text-sm tw-leading-relaxed">
      I'm a Software Engineer passionate about infrastructure and data visualization.
      I'm currently working at the intersection of Kubernetes and Performance.
      In my free time I enjoy working on fun software, learning new languages, recording song covers, and
      ocassionally dancing bachata.
    </p>
  </div>

  <div class="tw-mt-4">
    <h2 class="tw-text-xs tw-uppercase tw-tracking-widest tw-mb-2">Speaking</h2>
    <p class="tw-text-sm tw-leading-relaxed">
      I have given many <a href="/talks/" class="tw-underline tw-decoration-primary/30 hover:tw-decoration-primary">public talks</a> and presentations.
      Some highlights include speaking 2x at KubeCon about the intersection of Storage and Windows and debugging Kubernetes with delve.
    </p>
  </div>

  {{ if .IsHome }}
  <div class="tw-mt-4 tw-text-sm">
    <p class="tw-hidden md:tw-block">
      There's a hidden <span class="tw-text-primary">easter egg</span> in this
      page, <br/>
      <a href="https://forms.gle/AnZoqQzacNSuWCau7" target="_blank" class="tw-underline tw-decoration-primary/30 hover:tw-decoration-primary">let me know</a> if you found it 😄.
    </p>
  </div>
  {{ end }}

  <div class="tw-mt-4 tw-text-xs">
    <p class="tw-hidden md:tw-block">
      Made with <span class="heart" style="font-size: 0.7em; cursor: pointer; position: relative">♥</span> from NYC
    </p>
    <a href="{{ "index.xml" | absURL }}" target="noopener" class="hover:tw-text-primary">
      <span class="material-symbols-outlined" style="font-size: 1.2em; vertical-align: middle;"> rss_feed </span> RSS
    </a>
    <br />
    © 2015 - {{ now.Year }}
  </div>
</div>
