<!-- if this is the index page then start uncollapsed -->
{{ if .IsHome }}
  {{ .Scratch.Set "collapsed" "" }}
  {{ .Scratch.Set "sidebar-hide" "" }}
  {{ .Scratch.Set "sidebar-style" "border: none" }}
{{ else }}
  {{ .Scratch.Set "collapsed" "list-is-collapsed" }}
  {{ .Scratch.Set "sidebar-hide" "hide" }}
  {{ .Scratch.Set "sidebar-style" "" }}
{{ end }}

{{ if (ne .Params.toc "false") }}

<!-- sitemap wrapper, used only for positioning -->
<div class="my-sitemap-wrapper tw-transition-all tw-opacity-1" style="opacity: 0">

  <!-- scripts use the id and the class, don't change it Mauricio! -->
  <div id="sitemap" class="my-sitemap tw-opacity-1 tw-p-3 tw-rounded-md tw-bg-[var(--grey-dark)] md:tw-relative md:tw-opacity-20">

      {{/* sitemap-search-trigger is referenced from algolia.jsx */}}
      <div id="sitemap-search-trigger" class="tw-cursor-pointer tw-border-2 tw-border-primary tw-p-2 tw-rounded">
        <span class="material-symbols-outlined"> search </span> Press ⌘K to search
      </div>

      <nav id="sitemap-tree" aria-label="Sitemap" class="sitemap-content">
        {{ partial "sitemap-tree.auto.html" . }}
      </nav>
  </div>

</div>
{{ end }}

