{{/* overrides the blocks set on _default/baseof.html */}}

{{ define "head" }}
  {{ partial "head.html" . }}
{{ end }}

{{ define "main" }}
  {{ partial "svg/defs.html" . }}
  <div id="voronoi" style="width: 100vw; height: 100vh; position: fixed; top: 0"></div>
  <div class="is-index">
    <div class="container">
      <div class="box card index__banner">
        <div class="center has-text-centered">
          {{ partial "profile" . }}
        </div>
        <hr />
        <div class="center">
          {{ partial "sitemap-chronological.html" . }}
        </div>
      </div>
    </div>
  </div>

{{ end }}

{{ define "footer" }}
  <!--
    Webpack HMR runtime (https://github.com/webpack/webpack-dev-server/issues/2792)

    Fix so that common code among all the js libraries is shared in a single file
    before all of them start.
  -->
  {{ partial "scripts/webpack-runtime.html" . }}
  {{ partial "scripts/main.html" . }}
  {{ partial "scripts/voronoi.html" . }}
{{ end }}
