{{ define "main" }}
  {{ partial "svg/defs.html" . }}
  <div class="is-index">
    <div class="container">
      <div class="box card index__banner">
        <div class="columns">
          <div class="column content is-half has-text-right">
            {{ partial "profile" . }}
          </div>
          <div class="column is-half" style="overflow: scroll; opacity: 1">
            {{ partial "sitemap.html" . }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

{{ define "footer" }}
  {{ partial "scripts/webpack-runtime.html" . }}
  {{ partial "scripts/main.html" . }}
  {{ partial "scripts/voronoi.html" . }}
{{ end }}
