{{ define "nav" }}
  {{ partial "nav.html" . }}
{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}

{{ partial "browser/browser-article-navigation.html" . }}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <article role="main" class="content">
          {{ .Content }}

          {{ if isset .Params "references" }}
            <hr />
            <div class="is-size-5">References</div>
            <div class="references is-size-7">
              <ul>
              {{ range .Params.references }}
                <li>{{ . | markdownify }}</li>
              {{ end }}
              </ul>
            </div>
          {{ end }}
        </article>

      </div>
      <aside class="column is-hidden-mobile">
        {{ partial "toc.html" . }}
      </aside>
    </div>
  </div>
</section>
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
