{{ define "nav" }}
  {{ partial "nav.html" . }}
{{ end }}

{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "main" }}
<div id="root"></div>

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-three-quarters">
        <article role="main" class="content">
          {{ .Content }}
        </article>
      </div>
      <aside class="column is-hidden-mobile">
        {{ partial "toc.html" . }}
      </aside>
    </div>
  </div>
</section>
{{ end }}

{{ define "footer" }}
  {{ partial "footer.html" . }}
{{ end }}
