<!-- image -->
<figure class="image {{ with .Get "class" }}{{.}}{{ end }}" {{ with .Get "id" }}id="{{.}}"{{end}}>
    {{ with .Get "link"}}<a href="{{.}}">{{ end }}
        <img class="lazy-load" data-src="{{ .Get "src" }}" {{ if (.Get "title") }}alt="{{ with .Get "title"}}{{.}}{{ end }}" {{ end }}{{ with .Get "width" }}width="{{.}}" {{ end }}/>
    {{ if .Get "link"}}</a>{{ end }}
    {{ if or (or (.Get "title") (.Get "caption")) (.Get "attr")}}
    <figcaption>{{ if isset .Params "title" }}
        <p class="is-subtitle">{{ .Get "title" }}</p>{{ end }}
        {{ if or (.Get "caption") (.Get "attr")}}<p>
        {{ .Get "caption" }}
        {{ with .Get "attrlink"}}<a href="{{.}}"> {{ end }}
            {{ .Get "attr" }}
        {{ if .Get "attrlink"}}</a> {{ end }}
        </p> {{ end }}
    </figcaption>
    {{ end }}
</figure>
<!-- image -->
