<!-- repl -->
{{- if (not (.Get "id")) }}
<b style="color: red">repl: id required</b>
{{- end }}

{{ if .Get "external" }}
<div class="columns is-centered repl__wrapper external">
    <div class="column is-narrow">
        <a class="button is-medium is-outlined is-info has-text-weight-bold" href="https://repl.it/{{ .Get "id" }}" target="_blank">
            Open
            <span class="repl__id"> {{ .Get "id" }} </span>
            in
            <img src="https://repl.it/public/images/logo-small.png" style="width: 83px; vertical-align: middle; margin-left: 11px;">
        </a>
    </div>
</div>
{{ else }}
<div class="repl__wrapper">
    <div class="repl__overlay"></div>
    <iframe
        class="repl__iframe lazy-load"
        title="repl demo"
        frameborder="0"
        width="100%"
        height="700px"
        data-src="https://repl.it/{{ .Get "id" }}?lite=true">
    </iframe>
</div>
{{ end }}
<!-- repl -->
